<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/main-style.css">
    <link rel="stylesheet" href="../assets/css/new-tailwind.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>rektorat-personal-page</title>
</head>
<body>
                    <div class="max-w-[978px] w-[100%] mx-auto">
                            <div class="bg-white p-6 sm:min-h-[257px] flex flex-col justify-between">
                                <div class="grid grid-cols-1 lg:grid-cols-[25%_minmax(70%,_1fr)] gap-5 min-h-[209px]">
                                    <div class="mx-auto">
                                        <img src="../assets/img/tojvonen-fon.png" alt="" class="">
                                    </div>
                                    <div class="flex flex-col justify-evenly">
                                        <div class="mb-7 lg:mb-0 sm:flex-row">
                                            <div class="grid grid-cols-1 lg:grid-cols-[25%_minmax(70%,_1fr)] mb-7 lg:mb-0">
                                                    <span class="text-[var(--secondary-color)] text-md font-bold">Должность:</span>
                                                <div class="flex items-center">
                                                    <span class="text-[#4C4C4C] text-md pt-3 sm:ps-3 sm:pt-0">Ректор ФГБОУ ВО «Мелитопольский государственный университет».</span>
                                                </div>
                                            </div>
                                            <div class="grid grid-cols-1 lg:grid-cols-[25%_minmax(70%,_1fr)]">
                                                    <span class="text-[var(--secondary-color)] text-md font-bold">Ученая степень, звание:</span>
                                                <div class="flex items-center">
                                                    <span class="text-[#4C4C4C] text-md pt-3 sm:ps-3 sm:pt-0">кандидат физико-математических наук, доцент.</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-7 lg:mb-0 sm:flex-row">
                                            <div class="grid grid-cols-1 lg:grid-cols-[25%_minmax(70%,_1fr)]">
                                                    <span class="text-[var(--secondary-color)] text-md font-bold">Прием по личным вопросам:</span>
                                                <div class="flex items-center">
                                                    <span class="text-[#4C4C4C] text-md pt-3 sm:ps-3 sm:pt-0">с 15:00 – 18:00 (предварительная запись со вторника)</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex justify-between flex-col sm:flex-row mb-7 lg:mb-0">
                                            <div class="w-[100%] mb-7 sm:mb-0">
                                            <span class="text-[#4C4C4C] text-lg">
                                                Адрес:
                                            </span>
                                                <p class="font-semibold text-lg text-[#4C4C4C]">
                                                    корпус 9, каб. 224
                                                </p>
                                            </div>
                                            <div class="w-[100%]">
                                            <span class="text-[#4C4C4C] text-lg">
                                                Телефон:
                                            </span>
                                                <p class="font-semibold text-lg text-[#4C4C4C]">
                                                    +7 (990) XXX-XX-XX
                                                </p>
                                            </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        <div class="bg-white p-6 flex flex-col justify-between mt-5">
                            <div class="grid grid-cols-1 lg:grid-cols-[25%_minmax(70%,_1fr)] mb-7 lg:mb-0 gap-y-5 gap-x-1">
                                <span class="text-[var(--secondary-color)] text-md font-bold">Дата рождения:</span>
                                <div class="flex items-center ">
                                    <span class="text-[#4C4C4C] text-md pt-3 sm:ps-3 sm:pt-0">28 октября 1959 г.</span>
                                </div>
                                <span class="text-[var(--secondary-color)] text-md font-bold">Место рождения:</span>
                                <div class="flex items-center">
                                    <span class="text-[#4C4C4C] text-md pt-3 sm:ps-3 sm:pt-0">с. Мыт, Пестяковский район, Ивановская область.</span>
                                </div>
                                <span class="text-[var(--secondary-color)] text-md font-bold">Место жительства:</span>
                                <div class="flex items-center">
                                    <span class="text-[#4C4C4C] text-md pt-3 sm:ps-3 sm:pt-0">г. Мелитополь, Запорожская область.</span>
                                </div>
                                <span class="text-[var(--secondary-color)] text-md font-bold">Образование:</span>
                                <div class="flex items-center">
                                    <span class="text-[#4C4C4C] text-md pt-3 sm:ps-3 sm:pt-0">высшее – Ленинградский государственный университет им. А.А.Жданова, 1984 г.</span>
                                </div>
                                <span class="text-[var(--secondary-color)] text-md font-bold">Награды, поощрение:</span>
                                <div class="flex items-center">
                                    <span class="text-[#4C4C4C] text-md pt-3 sm:ps-3 sm:pt-0">звание «Почетный работник высшего профессионального образования Российской Федерации», 2006 г. </span>
                                </div>
                                <span class="text-[var(--secondary-color)] text-md font-bold">Партийная принадлежность:</span>
                                <div class="flex items-center">
                                    <span class="text-[#4C4C4C] text-md pt-3 sm:ps-3 sm:pt-0">Всероссийская политическая партия «Единая Россия».</span>
                                </div>
                                <span class="text-[var(--secondary-color)] text-md font-bold">Семейное положение:</span>
                                <div class="flex items-center">
                                    <span class="text-[#4C4C4C] text-md pt-3 sm:ps-3 sm:pt-0">холост.</span>
                                </div>
                            </div>
                            </div>
                        <div class="work-experience">
                            <h2 class="font-bold text-2xl my-6">Трудовая деятельность</h2>
                            <div class="work-experience-box grid grid-cols-1 lg:grid-cols-[25%_minmax(70%,_1fr)] gap-1">
                                <div class="bg-white p-2.5 flex items-center">
                                    <span class="font-bold">1984 – 1986</span>
                                </div>
                                <div class="bg-white p-2.5 flex items-center">
                                    <span class="ps-3 lg:ps-0">Инженер Петрозаводского государственного университета им. О. В. Куусинена</span>
                                </div>
                                <div class="bg-white p-2.5 flex items-center">
                                    <span class="font-bold">1986 -1989</span>
                                </div>
                                <div class="bg-white p-2.5 flex items-center">
                                    <span class="ps-3 lg:ps-0">Аспирант Ленинградского государственного университета им. А. А. Жданова</span>
                                </div>
                                <div class="bg-white p-2.5 flex items-center">
                                    <span class="font-bold">1990 – 1994</span>
                                </div>
                                <div class="bg-white p-2.5 flex items-center">
                                    <span class="ps-3 lg:ps-0">Преподаватель, старший преподаватель, доцент Петрозаводского государственного университета</span>
                                </div>
                                <div class="bg-white p-2.5 flex items-center">
                                    <span class="font-bold">1994 – 2005</span>
                                </div>
                                <div class="bg-white p-2.5 flex items-center">
                                    <span class="ps-3 lg:ps-0">Проректор по международным связям ФГБОУ ВПО «Петрозаводский государственный университет»</span>
                                </div>
                                <div class="bg-white p-2.5 flex items-center">
                                    <span class="font-bold">2005 – 2008</span>
                                </div>
                                <div class="bg-white p-2.5 flex items-center">
                                    <span class="ps-3 lg:ps-0">Главный специалист по стратегическому развитию, начальник отдела, начальник управления, директор Дирекции инновационного образовательного проекта (ИОП) ФГБОУ ВПО «Санкт-Петербургский государственный университет»</span>
                                </div>
                                <div class="bg-white p-2.5 flex items-center">
                                    <span class="font-bold">2008 – 2014</span>
                                </div>
                                <div class="bg-white p-2.5 flex items-center">
                                    <span class="ps-3 lg:ps-0">Проректор по развитию проектной деятельности, проректор по инновационной деятельности,
                                        проректор по стратегическому развитию ФГБОУ ВПО «Санкт-Петербургский национальный исследовательский университет
                                        информационных технологий, механики и оптики». Одновременно или последовательно занимал должности декана факультета,
                                        заведующего лабораторией, директора института, директора департамента, директора Дирекции программы развития (НИУ) и
                                        Дирекции повышения конкурентоспособности университета (программа «5 в 100»)</span>
                                </div>
                                <div class="bg-white p-2.5 flex items-center">
                                    <span class="font-bold">2014 – 2017</span>
                                </div>
                                <div class="bg-white p-2.5 flex items-center">
                                    <span class="ps-3 lg:ps-0">Директор Международного департамента Министерства образования и науки Российской Федерации</span>
                                </div>
                                <div class="bg-white p-2.5 flex items-center">
                                    <span class="font-bold">2017 – 2023</span>
                                </div>
                                <div class="bg-white p-2.5 flex items-center">
                                    <span class="ps-3 lg:ps-0">Проректор по стратегическому развитию Санкт-Петербургского государственного экономического университета; советник Университета</span>
                                </div>
                                <div class="bg-white p-2.5 flex items-center">
                                    <span class="font-bold">2023 – н. /вр.</span>
                                </div>
                                <div class="bg-white p-2.5 flex items-center">
                                    <span class="ps-3 lg:ps-0">Ректор ФГБОУ ВО «Мелитопольский государственный университет».</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <script src="../assets/js/search-in-box.js"></script>
</body>
</html>