<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/main-style.css">
    <link rel="stylesheet" href="../assets/css/new-tailwind.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Почему МелГУ?</title>
</head>
<body>
<div class="main-wrapper">
    <header>
        <div class="upper-menu bg-[#FAFAFA] z-[82]">
            <div class="box-header-address bg-[#FAFAFA] z-[82]">
                <h2 class="header-address">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#820000" class="bi bi-geo-alt-fill me-2" viewBox="0 0 16 16">
                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                    </svg>
                    г. Мелитополь, пр. Б. Хмельницкого, д. 18
                </h2>
            </div>
            <div class="box-upper-nav bg-[#FAFAFA] z-[82]">
                <nav class="nav flex align-center">
                    <a class="nav-link" href="#">Студенту</a>
                    <a class="nav-link" href="#">Поступающим</a>
                    <a class="nav-link" href="../views/view-aspirantam.html">Аспирантам</a>
                    <a class="nav-link" href="#">Выпустникам</a>
                    <a class="nav-link" href="#">Партнерам</a>
                    <a class="nav-link btn-search cursor-pointer flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                    </a>
                </nav>
            </div>

        </div>
        <div class="search-box py-6">
            <div class="container custom">
                <div class="search-and-close-box mb-8">
                    <h2 class="p-0">Поиск</h2>
                    <span class="close-search"><i class="bi bi-x-lg me-2"></i>Закрыть</span>
                </div>
                <form class="search-form mb-8">
                    <input class="form-control rounded-none" type="search" placeholder="Поиск" aria-label="Search">
                    <button class="btn rounded-none text-white" type="submit">
                        Искать
                    </button>
                </form>
                <div class="box-btns grid grid-cols-1 lg:grid-cols-[1fr,1fr,1fr,1fr] gap-3 text-center mb-8">
                    <a class="btn-filter-search active uppercase py-[15px] px-[20px]">Искать везде</a>
                    <a class="btn-filter-search uppercase py-[15px] px-[20px]">Новости</a>
                    <a class="btn-filter-search uppercase py-[15px] px-[20px]">Структура сайта</a>
                    <a class="btn-filter-search uppercase py-[15px] px-[20px]">Справочник</a>
                </div>
            </div>
        </div>
        <div class="main-menu">
            <div class="box-logo">
                <a href="#">
                    <img src="../assets/img/white-logo.png" alt="Логотип университета">
                </a>
            </div>
            <div class="box-main-menu">
                <nav class="navbar">
                    <button class="btn-search bg-[var(--primary-color)] min-h-[38px] min-w-[38px] flex items-center justify-center absolute right-[55px] top-[13px]">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                    </button>
                    <button class="navbar-toggler items-end rounded-0  border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo2" aria-controls="navbarTogglerDemo2" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="box-hamburg">
                            <i class="bi bi-list"></i>
                        </span>
                    </button>
                    <div class="navbar-collapse">
                        <ul class="navbar-nav">
                            <li class="nav-item point-menu flex items-center">
                                <a class="nav-link" href="#">О МелГУ</a>
                            </li>
                            <li class="nav-item point-menu flex items-center">
                                <a class="nav-link" href="#">Образование</a>
                            </li>
                            <li class="nav-item point-menu flex items-center">
                                <a class="nav-link" href="#">Наука</a>
                            </li>
                            <li class="nav-item point-menu flex items-center">
                                <a class="nav-link" href="#">Молодежная политика</a>
                            </li>
                            <li class="nav-item point-menu flex items-center">
                                <a class="nav-link" href="#">Доступная среда</a>
                            </li>
                            <li class="nav-item point-menu flex items-center">
                                <a class="nav-link" href="#">Новости</a>
                            </li>
                        </ul>
                        <div class="search-and-btn-box">
                            <div class="personal-account-box">
                                <button class="personal-account-btn flex align-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
                                        <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                                    </svg>
                                    <span>Личный кабинет</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="about-melsu-menu new-menu hidde">
                    <div class="box-dropdown-btns">
                        <div class="box-back-btn">
                            <a class="back-btn">
                                <i class="bi bi-arrow-left"></i>
                                Назад
                            </a>
                        </div>
                        <div class="box-transit-btn">
                            <a class="transit-btn" href="../template/menu-page.html">
                                О МелГУ
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="wrapper-dropdown-menu">
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="education-melsu-menu new-menu hidde">
                    <div class="box-dropdown-btns">
                        <div class="box-back-btn">
                            <a class="back-btn">
                                <i class="bi bi-arrow-left"></i>
                                Назад
                            </a>
                        </div>
                        <div class="box-transit-btn">
                            <a class="transit-btn">
                                Образование
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="wrapper-dropdown-menu">
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="science-melsu-menu new-menu hidde">
                    <div class="box-dropdown-btns">
                        <div class="box-back-btn">
                            <a class="back-btn">
                                <i class="bi bi-arrow-left"></i>
                                Назад
                            </a>
                        </div>
                        <div class="box-transit-btn">
                            <a class="transit-btn">
                                Наука
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="wrapper-dropdown-menu">
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="youth-policy-melsu-menu new-menu hidde">
                    <div class="box-dropdown-btns">
                        <div class="box-back-btn">
                            <a class="back-btn">
                                <i class="bi bi-arrow-left"></i>
                                Назад
                            </a>
                        </div>
                        <div class="box-transit-btn">
                            <a class="transit-btn">
                                Молодежная политика
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="wrapper-dropdown-menu">
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="ovz-melsu-menu new-menu hidde">
                    <div class="box-dropdown-btns">
                        <div class="box-back-btn">
                            <a class="back-btn">
                                <i class="bi bi-arrow-left"></i>
                                Назад
                            </a>
                        </div>
                        <div class="box-transit-btn">
                            <a class="transit-btn">
                                Доступная среда
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="wrapper-dropdown-menu">
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="main-section">
        <section class="container custom">
            <div class="page-header pt-14 mb-5 xl:mb-14">
                <div class="breadcrumbs flex mb-4">
                    <span class="crumb-home font-xs after:content-['\2192'] me-2 after:ms-2"><a href="/" class="font-xs">Главная</a></span>
                    <span class="crumb font-xs"><a href="#" class="font-xs">Шаблон</a></span>
                </div>
                <h1 class="text-[32px] sm:text-[55px] font-bold">
                    Почему МелГУ?
                </h1>
            </div>
        </section>
        <div class="box-heading container custom">
            <h2 class="font-bold text-2xl my-6 lg:mt-[7%] lg:mb-[3.5%]">МелГУ — ЭТО</h2>
        </div>
        <section class="container custom text-lg p-2.5">
            <div class="bg-white p-6">
                <div class="grid grid-cols-1 lg:grid-cols-[auto,422px] gap-3 lg:gap-6">
                    <div class="flex items-center order-2 lg:order-1">
                        <ul class="list-disc list-inside leading-10">
                            <li>
                                <strong>18000+</strong> студентов
                            </li>
                            <li>
                                <strong>7</strong> факультетов
                            </li>
                            <li>
                                <strong>31</strong> кафедра
                            </li>
                            <li>
                                <strong>68</strong> специальностей и <strong>96</strong> образовательных программ
                            </li>
                        </ul>
                    </div>
                    <div class="flex justify-center lg:justify-end order-1 lg:order-2">
                        <img src="../assets/img/ph-9.jpg" alt="" class="lg:max-w-[422px] lg:max-h-[422px]">
                    </div>
                </div>
            </div>
        </section>
        <div class="box-heading container custom">
            <h2 class="font-bold text-2xl my-6 lg:mt-[7%] lg:mb-[3.5%] lg:text-end">Благодатный климат</h2>
        </div>
        <section class="container custom text-lg">
            <div class="bg-white p-6">
                <p class="mb-3 font-[500]">МелГУ — это не только качественное образование, но и комфортные условия для жизни и отдыха.</p>
                <div class="grid grid-cols-1 lg:grid-cols-[422px,auto] gap-3 lg:gap-6">
                    <div class="flex justify-center lg:justify-end order-1 lg:order-1">
                        <img src="../assets/img/ph-10.jpg" alt="" class="lg:max-w-[422px] lg:max-h-[422px]">
                    </div>
                    <div class="flex items-center order-2 lg:order-2">
                        <ul class="list-disc list-inside leading-10">
                            <li>
                                Средняя температура в году <strong>+5 °C</strong>
                            </li>
                            <li>
                                Долгое, теплое и малооблачное лето.
                            </li>
                            <li>
                                Теплый сезон – 5 месяцев
                            </li>
                            <li>
                                Максимальная среднесуточная температура <strong>23 °C</strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <div class="box-heading container custom">
            <h2 class="font-bold text-2xl my-6 lg:mt-[7%] lg:mb-[3.5%]">Мелитополь – Ворота в Крым</h2>
        </div>
        <section class="container custom text-lg p-2.5">
            <div class="bg-white p-6">
                <div class="grid grid-cols-1 lg:grid-cols-[auto,422px] gap-3 lg:gap-6">
                    <div class="flex items-center order-2 lg:order-1">
                        <ul class="list-disc list-inside leading-10">
                            <li>
                                Город расположен в <strong>70 км от Азовского моря</strong>
                                <ul class="under-list list-inside ps-6">
                                    <li>
                                        источник научных исследований и мониторинга, база для изучения рыбоводства — более 100 видов рыб
                                    </li>
                                    <li>
                                        активный отдых и спорт, серфинг
                                    </li>
                                </ul>
                            </li>
                            <li>
                                Средняя температура воды <strong>27 °C</strong>
                            </li>
                            <li>
                                <strong>Базы отдыха</strong> на побережье Азовского моря (г. Кирилловка, г. Приморск)
                                <ul class="under-list list-inside ps-6">
                                    <li>
                                        возможность насладиться чистым морским воздухом, богатым йодом, и купанием в воде с минеральными солями
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <strong>Обиточная коса</strong> – песчаная коса, «жемчужина Приазовья»
                                <ul class="under-list list-inside ps-6">
                                    <li>
                                        здесь планируется создание круглогодичного курорта для детского и семейного отдыха «Приморск».
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="flex justify-center lg:justify-end order-1 lg:order-2">
                        <img src="../assets/img/ph-11.jpg" alt="" class="lg:max-w-[422px] lg:max-h-[422px]">
                    </div>
                </div>
            </div>
        </section>
        <div class="box-heading container custom">
            <h2 class="font-bold text-2xl my-6 lg:mt-[7%] lg:mb-[3.5%] lg:text-end">Мелитополь – настоящая столица черешни</h2>
        </div>
        <section class="container custom text-lg">
            <div class="bg-white p-6">
                <p class="mb-3 font-[500]">Черешневые сады в Мелитополе — это огромная учебная база для будущих садоводов, агрономов, селекционеров.</p>
                <div class="grid grid-cols-1 lg:grid-cols-[422px,auto] gap-3 lg:gap-6">
                    <div class="flex justify-center lg:justify-end order-1 lg:order-1">
                        <img src="../assets/img/ph-12.jpg" alt="" class="lg:max-w-[422px] lg:max-h-[422px]">
                    </div>
                    <div class="flex items-center order-2 lg:order-2">
                        <ul class="list-disc list-inside leading-10">
                            <li>
                                <strong>7 тысяч гектаров</strong> садов у Мелитопольского государственного университета
                            </li>
                            <li>
                                <strong>Более 10 000 фруктовых деревьев</strong>
                            </li>
                            <li>
                                Общий вес урожая черешни в 2024 г. <strong>150т 935 кг!</strong>
                            </li>
                        </ul>
                    </div>
                </div>
                <p class="mt-3 font-[500]">Такой рекордный урожай удалось собрать благодаря сотрудникам научно-производственного центра МелГУ,
                    коллективной работе и конечно же, студентам нашего университета, которые с удовольствием проходили практику в садах.</p>
            </div>
        </section>
        <div class="box-heading container custom">
            <h2 class="font-bold text-2xl my-6 lg:mt-[7%] lg:mb-[3.5%]">Запорожская область – житница России</h2>
        </div>
        <section class="container custom text-lg p-2.5">
            <div class="bg-white p-6">
                <div class="grid grid-cols-1 lg:grid-cols-[auto,422px] gap-3 lg:gap-6">
                    <div class="flex items-center order-2 lg:order-1">
                        <ul class="list-disc list-inside leading-10">
                            <li>
                                «Жемчужина» МелГУ – научно-образовательный и производственный центр по выращиванию полевых культур (с. Лазурное)
                                <ul class="under-list list-inside ps-6">
                                    <li>
                                        огромная площадь
                                        сельскохозяйственных угодий — в распоряжении центра около <strong>800 га полей</strong>
                                    </li>
                                    <li>
                                        отличное место для прохождения практики студентов сельскохозяйственных направлений
                                    </li>
                                </ul>
                            </li>
                            <li>
                                В 2024 г. засеяно <strong>300 га</strong>> озимой пшеницы и собрано <strong>700 тонн</strong>> зерна
                            </li>
                        </ul>
                    </div>
                    <div class="flex justify-center lg:justify-end order-1 lg:order-2">
                        <img src="../assets/img/ph-13.jpg" alt="" class="lg:max-w-[422px] lg:max-h-[422px]">
                    </div>
                </div>
            </div>
        </section>
        <div class="box-heading container custom">
            <h2 class="font-bold text-2xl my-6 lg:mt-[7%] lg:mb-[3.5%] lg:text-end">Наука В МелГУ – Фундамент для светлого «Завтра»</h2>
        </div>
        <section class="container custom text-lg">
            <div class="bg-white p-6 mb-3">
                <ul class="list-inside list-disc mb-3">
                    <li>
                        в МелГУ открылись 5 новейших учебных лабораторий: физики, математики и информационных технологий, химии, биологии, комплексная лаборатория педагогического образования.
                    </li>
                </ul>
                <p class="mb-3">
                    Современная наука может помочь воплотить в жизнь самые смелые мечты и идеи.
                    Мелитопольский государственный университет активно развивает научную деятельность на разных направлениях,
                    объединяя в дружные творческие команды студентов, преподавателей и ученых. А современные научные лаборатории позволяют
                    в полной мере погрузиться в профессиональную среду и совершать открытия на новейшем оборудовании.
                </p>
                <p>
                    Наука сегодня – это один из способов реализации творческого потенциала активных студентов и молодых преподавателей,
                    которые готовы ставить перед собой смелые задачи и находить для них инновационные решения.
                </p>
            </div>
            <div class="bg-white p-6">
                <div class="grid grid-cols-1 lg:grid-cols-[422px,auto] gap-3 lg:gap-6">
                    <div class="flex justify-center lg:justify-end order-1 lg:order-1">
                        <img src="../assets/img/ph-14.jpg" alt="" class="lg:max-w-[422px] lg:max-h-[422px]">
                    </div>
                    <div class="flex items-center order-2 lg:order-2">
                        <p>
                            В университете проводятся научные конференции, семинары, круглые столы и дискуссионные площадки, для возможности обмена научными мнениями между студентами, аспирантами и учеными.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <div class="box-heading container custom">
            <h2 class="font-bold text-2xl my-6 lg:mt-[7%] lg:mb-[3.5%]">МелГУ – Уверенный шаг навстречу будущему!</h2>
        </div>
        <section class="container custom text-lg p-2.5">
            <div class="bg-white p-6">
                <p class="mb-3 font-[500]">
                    Новые направления подготовки на 2025-2026 учебный год:
                </p>
                <div class="grid grid-cols-1 lg:grid-cols-[auto,422px] gap-3 lg:gap-6">
                    <div class="flex items-center order-2 lg:order-1">
                        <ul class="list-disc list-inside leading-10">
                            <li>
                                Картография и геоинформатика
                            </li>
                            <li>
                                Почвоведение
                            </li>
                            <li>
                                Мехатроника и робототехника
                            </li>
                            <li>
                                Авиастроение (Беспилотные летательные аппараты)
                            </li>
                            <li>
                                Гидромелиорация
                            </li>
                            <li>
                                Бизнес-информатика
                            </li>
                            <li>
                                Реклама и связи с общественностью
                            </li>
                            <li>
                                Дизайн
                            </li>
                            <li>
                                Судебная и прокурорская деятельность и др.
                            </li>
                        </ul>
                    </div>
                    <div class="flex justify-center lg:justify-end order-1 lg:order-2">
                        <img src="../assets/img/ph-15.jpg" alt="" class="lg:max-w-[422px] lg:max-h-[422px]">
                    </div>
                </div>
            </div>
        </section>
        <div class="box-heading container custom">
            <h2 class="font-bold text-2xl my-6 lg:mt-[7%] lg:mb-[3.5%] lg:text-end">Наши студенты нужны ВСЕМ</h2>
        </div>
        <section class="container custom text-lg">
            <div class="bg-white p-6">
                <p class="mb-3 font-[500]">
                    Новые направления подготовки на 2025-2026 учебный год:
                </p>
                <div class="grid grid-cols-1 lg:grid-cols-[422px,auto] gap-3 lg:gap-6">
                    <div class="flex justify-center lg:justify-end order-1 lg:order-1">
                        <img src="../assets/img/ph-16.jpg" alt="" class="lg:max-w-[422px] lg:max-h-[422px]">
                    </div>
                    <div class="flex items-center order-2 lg:order-2">
                        <ul class="list-disc list-inside leading-10">
                            <li>
                                Студенты вуза проходят практику на предприятиях уже со 2 курса обучения
                                <ul class="under-list list-inside ps-6">
                                    <li>
                                        более 24 соглашений о сотрудничестве с научными, образовательными и промышленные предприятиями
                                    </li>
                                </ul>
                            </li>
                            <li>
                                Наши студенты получают возможность трудоустройства не только на территории региона, но и по всей стране
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <div class="box-heading container custom">
            <h2 class="font-bold text-2xl my-6 lg:mt-[7%] lg:mb-[3.5%]">Развиваем Молодежь!</h2>
        </div>
        <section class="container custom text-lg p-2.5">
            <div class="bg-white p-6">
                <p class="mb-3 font-[500]">
                    Новые направления подготовки на 2025-2026 учебный год:
                </p>
                <div class="grid grid-cols-1 lg:grid-cols-[auto,422px] gap-3 lg:gap-6">
                    <div class="flex items-center order-2 lg:order-1">
                        <ul class="list-disc list-inside leading-10">
                            <li>
                                Студенты состоят в молодежных организациях Российской Федерации:
                                <ul class="under-list list-inside ps-6">
                                    <li>
                                        «Всероссийский студенческий корпус спасателей»
                                    </li>
                                    <li>
                                        «Молодёжный ресурсный центр»
                                    </li>
                                    <li>
                                        «ЮГ молодой»
                                    </li>
                                    <li>
                                        «Движение первых»
                                    </li>
                                    <li>
                                        «Твой ход»
                                    </li>
                                    <li>
                                        «ДОБРО.РУ»
                                    </li>
                                    <li>
                                        «Россия – страна возможностей»
                                    </li>
                                    <li>
                                        «Российский Студенческие Отряды»
                                    </li>
                                    <li>
                                        Министерство по молодёжной политике Запорожской области
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="flex justify-center lg:justify-end order-1 lg:order-2">
                        <img src="../assets/img/ph-17.jpg" alt="" class="lg:max-w-[422px] lg:max-h-[422px]">
                    </div>
                </div>
            </div>
        </section>
        <div class="box-heading container custom">
            <h2 class="font-bold text-2xl my-6 lg:mt-[7%] lg:mb-[3.5%] lg:text-end">Наш университет – отличный выбор для каждого</h2>
        </div>
        <section class="container custom text-lg">
            <div class="bg-white p-6">
                <div class="grid grid-cols-1 lg:grid-cols-[422px,auto] gap-3 lg:gap-6">
                    <div class="flex justify-center lg:justify-end order-1 lg:order-1">
                        <img src="../assets/img/ph-18.jpg" alt="" class="lg:max-w-[422px] lg:max-h-[422px]">
                    </div>
                    <div class="flex justify-center order-2 lg:order-2 flex-col">
                        <p class="font-[500]">Структура МелГУ включает в себя структурные подразделения, представляющие все 4 основные области знаний:</p>
                        <ul class="list-disc list-inside leading-10">
                            <li>
                                естественно-научную,
                            </li>
                            <li>
                                гуманитарную,
                            </li>
                            <li>
                                инженерно-техническую,
                            </li>
                            <li>
                                медико-биологическую.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <div class="box-heading container custom">
            <h2 class="font-bold text-2xl my-6 lg:mt-[7%] lg:mb-[3.5%]">Наши чемпионы</h2>
        </div>
        <section class="container custom text-lg p-2.5">
            <div class="bg-white p-6">
                <div class="grid grid-cols-1 lg:grid-cols-[auto,422px] gap-3 lg:gap-6">
                    <div class="flex flex-col justify-center order-2 lg:order-1">
                        <p class="font-[500]">
                            Студенты МелГУ — чемпионы мира в 2023 году:
                        </p>
                        <ul class="list-disc list-inside leading-10">
                            <li>
                                Сергей Жовтовский — стритлифтинг,
                            </li>
                            <li>
                                Сукач Ольга – мас-рестлинг,
                            </li>
                            <li>
                                Чуб-Швец София – гиревой спорт.
                            </li>
                        </ul>
                    </div>
                    <div class="flex justify-center lg:justify-end order-1 lg:order-2">
                        <img src="../assets/img/ph-19.jpg" alt="" class="lg:max-w-[422px] lg:max-h-[422px]">
                    </div>
                </div>
            </div>
        </section>
        <div class="box-heading container custom">
            <h2 class="font-bold text-2xl my-6 lg:mt-[7%] lg:mb-[3.5%] lg:text-end">Достопримечательности города</h2>
        </div>
        <section class="container custom text-lg p-2.5">
            <div class="bg-white p-6">
                <p>
                    Стоит также отметить и <strong>достопримечательности города</strong>, полюбоваться которыми можно в свободное от учебы время.
                </p>
            </div>
        </section>
        <div class="box-heading container custom">
            <h2 class="font-bold text-2xl my-6 lg:mt-[7%] lg:mb-[3.5%]">«Каменная могила»</h2>
        </div>
        <section class="container custom text-lg">
            <div class="bg-white p-6">
                <div class="grid grid-cols-1 lg:grid-cols-[422px,auto] gap-3 lg:gap-6">
                    <div class="flex justify-center lg:justify-end order-1 lg:order-1">
                        <img src="../assets/img/ph-18.jpg" alt="" class="lg:max-w-[422px] lg:max-h-[422px]">
                    </div>
                    <div class="flex items-center order-2 lg:order-2">
                        <p>
                        В Мелитопольском районе Запорожской области находится очень необычный археологический памятник — <strong>«Каменная могила».</strong>
                        Он представляет собой нагромождение камней площадью около 30 000 м² и высотой до 12 метров.
                        </p>
                    </div>
                </div>
                <p class="mt-3">
                    Мегалитическое сооружение напоминает знаменитый Стоунхендж в Великобритании.
                    Появление Запорожских каменных глыб относят к эпохе неолита – это место считают мощным энергетическим центром планеты.
                </p>
            </div>
        </section>
        <div class="box-heading container custom">
            <h2 class="font-bold text-2xl my-6 lg:mt-[7%] lg:mb-[3.5%] lg:text-end">Страусиная ферма</h2>
        </div>
        <section class="container custom text-lg p-2.5">
            <div class="bg-white p-6 mb-3">
                <p>
                    «Страус Юг» — одна из крупнейших страусиных ферм, открыта для посетителей уже более 20 лет.
                </p>
            </div>
            <div class="bg-white p-6">
                <div class="grid grid-cols-1 lg:grid-cols-[auto,422px] gap-3 lg:gap-6">
                    <div class="flex items-center order-2 lg:order-1">
                       <p>
                           Помимо страусов, в зоопарке обитает более 30 видов животных и птиц, включая медведей, львов, тигров, коз, лошадей, обезьян, дикобразов, енотов, верблюдов.
                       </p>
                    </div>
                    <div class="flex justify-center lg:justify-end order-1 lg:order-2">
                        <img src="../assets/img/ph-21.jpg" alt="" class="lg:max-w-[422px] lg:max-h-[422px]">
                    </div>
                </div>
                <p class="mt-3">
                    Они уживаются на территории размером почти 8 гектаров.
                </p>
            </div>
        </section>
        <div class="box-heading container custom">
            <h2 class="font-bold text-2xl my-6 lg:mt-[7%] lg:mb-[3.5%]">Усадьба Попова</h2>
        </div>
        <section class="container custom text-lg">
            <div class="bg-white p-6 mb-3">
                Уникальнейший памятник истории и архитектуры Запорожской области — Усадьба Попова.
            </div>
            <div class="bg-white p-6">
                <div class="grid grid-cols-1 lg:grid-cols-[422px,auto] gap-3 lg:gap-6">
                    <div class="flex justify-center lg:justify-end order-1 lg:order-1">
                        <img src="../assets/img/ph-22.jpg" alt="" class="lg:max-w-[422px] lg:max-h-[422px]">
                    </div>
                    <div class="flex items-center order-2 lg:order-2">
                        <p>
                            Дворцовый комплекс был возведен в 1894 году Василием Павловичем Поповым, внуком основателя Васильевки. Строительство усадьбы длилось 5 лет.
                        </p>
                    </div>
                </div>
                <p class="mt-3">
                    Мегалитическое сооружение напоминает знаменитый Стоунхендж в Великобритании.
                    Появление Запорожских каменных глыб относят к эпохе неолита – это место считают мощным энергетическим центром планеты.
                </p>
            </div>
            <div class="bg-white p-6 mt-3">
                <p>
                    Каждое строение этого музейно-архитектурного комплекса достойно звания отдельной достопримечательности, а сама усадьба — настоящая архитектурная жемчужина.
                </p>
            </div>
        </section>
        <div class="box-heading container custom">
            <h2 class="font-bold text-2xl my-6 lg:mt-[7%] lg:mb-[3.5%] lg:text-end">Бо́тиевская ВЭС</h2>
        </div>
        <section class="container custom text-lg p-2.5">
            <div class="bg-white p-6 mb-3">
                <p>
                    Бо́тиевская ВЭС — крупная ветровая электростанция наземного типа, расположенная рядом с селом Приморский Посад Приазовского района Запорожской области.
                </p>
            </div>
            <div class="bg-white p-6">
                <div class="grid grid-cols-1 lg:grid-cols-[auto,422px] gap-3 lg:gap-6">
                    <div class="flex items-center order-2 lg:order-1">
                        <p>
                            Установленная мощность энергостанции составляет 200 МВт.
                            Строительство осуществлялось в две очереди: в 2012 году было запущено 30 установок «Vestas V-112», в 2014 году — ещё 35.
                            В 2020 году электростанцией было сгенерировано 607,7 млн кВт/ч.
                        </p>
                    </div>
                    <div class="flex justify-center lg:justify-end order-1 lg:order-2">
                        <img src="../assets/img/ph-23.jpg" alt="" class="lg:max-w-[422px] lg:max-h-[422px]">
                    </div>
                </div>
                <p class="mt-3">
                    Благоухание цветов, кустарников и деревьев радует горожан и гостей интеркультурной столицы с ранней весны и до поздней осени.
                </p>
            </div>
            <div class="bg-white mt-3 p-6">
                Не упустите возможность насладиться этим прекрасным городом и провести свой досуг на свежем воздухе среди зелени, цветов и ароматов!!
            </div>
        </section>
    </section>
    <footer>
        <div class="header-footer">
            <div class="upper-footer-box">
                <div class="box-logo">
                    <a href="#">
                        <img src="../assets/img/white-logo.png" alt="Логотип университета">
                    </a>
                </div>
                <div class="footer-menu-box">
                    <nav>
                        <a href="#">Новости</a
                        ><a href="#">Полезная информация</a>
                        <a href="#">Сведения об образовательной организации</a>
                        <a href="#">Карта кампуса</a>
                        <a href="#">Карта сайта</a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="middle-footer container custom lg:p-2.5 grid grid-cols-1 lg:grid-cols-[25%,25%,25%,25%] gap-5 p-6">
            <div class="footer-box">
                <h4>Приемная комиссия</h4>
                <ul>
                    <li>
                        г. Мелитополь, пр. Богдана Хмельницкого 18, аудитория: 1.116
                    </li>
                    <li>
                        +7(990) 021 57 16
                    </li>
                    <li>
                        priyomnaya_komissiya@mgu-mlt.ru
                    </li>
                    <li>
                        <a href="">Страница комиссии →</a>
                    </li>
                </ul>
            </div>
            <div class="footer-box">
                <h4>Полезные ссылки</h4>
                <span>Пресс-служба</span>
                <ul>
                    <li>
                        +7(990) 142 78 65
                    </li>
                </ul>
            </div>
            <div class="footer-box">
                <h4>Ректорат</h4>
                <ul>
                    <li>
                        г. Мелитополь, пр. Богдана Хмельницкого 18, аудитория: 1.101
                    </li>
                    <li>
                        +7(990) 146 9279
                    </li>
                    <li>
                        rektorat@mgu-mlt.ru
                    </li>
                </ul>
            </div>
        </div>
        <div class="under-footer lg:p-2.5">
            <div class="under-footer-wrapper container custom p-0 flex flex-col items-center lg:flex-row lg:justify-between">
                <div class="copyright-box col-12 col-lg-6">
                    <p>
                        Copyright © 2022 - 2024 • ФГБОУ ВО "МелГУ" При перепечатке текстовой информации и фотографий ссылка на сайт обязательна
                    </p>
                </div>
                <div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-end">
                    <div class="social-footer-box">
                        <a href="#" class="social-link">
                            <i class="fa fa-vk" aria-hidden="true"></i>
                            VKONTAKTE
                        </a>
                        <a href="#" class="social-link">
                            <i class="bi bi-telegram"></i>
                            TELEGRAM
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="side_offset">
        <ul class="box-side-social-link">
            <li>
                <a href="#" class="social-link">
                    <i class="fa fa-vk" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="#" class="social-link">
                    <i class="bi bi-telegram"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="../assets/js/slider.js"></script>
<script src="../assets/js/menu.js"></script>
<script src="../assets/js/news-section-main-page.js"></script>
<script src="../assets/js/counter-script.js"></script>
</body>
</html>