<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/main-style.css">
    <link rel="stylesheet" href="../assets/css/new-tailwind.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Pedagog-sostav-template</title>
</head>
<body>
                    <div class="max-w-[978px] w-[100%] mx-auto">

                        <div>
                            <div class="bg-white p-6 mb-5">
                                <p class="text-[var(--main-color)] text-lg">
                                    Педагогический (научно-педагогический) состав обычно включает в себя профессионалов,
                                    занятых в образовательном учреждении для осуществления образовательного процесса. Этот состав включает учителей,
                                    преподавателей, научных сотрудников, методистов и других специалистов, которые занимаются обучением, разработкой учебных программ,
                                    проведением научных исследований в области образования, а также методической работой. В общем, педагогический состав играет ключевую роль в обеспечении качества образования и развитии обучающихся.
                                </p>
                            </div>
                        </div>
                        <div class='accordion-group grid grid-cols-1 gap-5' data-accordion="default-accordion">
                            <div class='accordion-box accordion p-6 border-b border-solid border-[var(--primary-color)]'style="height: 73px;">
                                <button class='accordion-toggle group accordion-active:text-indigo-600 inline-flex items-center justify-between text-[var(--primary-color)] w-full transition duration-500 hover:text-[var(--secondary-color)] active:text-[var(--secondary-color)]' aria-controls='basic-collapse-one-default'>
                                    <h5>Состав ученого совета</h5>
                                    <svg class='text-[var(--primary-color)] transition duration-500 group-hover:text-[var(--secondary-color)]' width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'>
                                        <path d='M16.5 8.25L12.4142 12.3358C11.7475 13.0025 11.4142 13.3358 11 13.3358C10.5858 13.3358 10.2525 13.0025 9.58579 12.3358L5.5 8.25' stroke='currentColor' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'></path>
                                    </svg>
                                </button>
                                <div class='accordion-content-box accordion-content px-0 overflow-hidden max-w-[930px] w-[100%]' aria-labelledby='basic-heading-one-default'>
                                    <div class="accordion-text">
                                        <div class="employees-box grid grid-cols-1 lg:grid-cols-[25%_minmax(70%,_1fr)] gap-1 box-border">
                                            <div class="bg-white p-2.5">
                                                <span>Тойвонен Николай Рудольфович</span>
                                            </div>
                                            <div class="bg-white p-2.5 flex items-center text-[var(--secondary-color)]">
                                                <span>ректор, председатель Ученого совета, кандидат физико-математических наук, доцент</span>
                                            </div>
                                            <div class="bg-white p-2.5">
                                                <span>Ярчук Ангелина Владимировна</span>
                                            </div>
                                            <div class="bg-white p-2.5 flex items-center text-[var(--secondary-color)]">
                                                <span>проректор по развитию – руководитель аппарата, заместитель председателя Ученого совета, кандидат экономических наук, доцент</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='accordion-box accordion p-6 border-b border-solid border-[var(--primary-color)]' style="height: 73px;">
                                <button class='accordion-toggle group accordion-active:text-indigo-600 inline-flex items-center justify-between text-[var(--primary-color)] w-full transition duration-500 hover:text-[var(--secondary-color)] active:text-[var(--secondary-color)]' aria-controls='basic-collapse-one-default'>
                                    <h5>Персональный состав педагогических работников</h5>
                                    <svg class='text-[var(--primary-color)] transition duration-500 group-hover:text-[var(--secondary-color)]' width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'>
                                        <path d='M16.5 8.25L12.4142 12.3358C11.7475 13.0025 11.4142 13.3358 11 13.3358C10.5858 13.3358 10.2525 13.0025 9.58579 12.3358L5.5 8.25' stroke='currentColor' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'></path>
                                    </svg>
                                </button>
                                <div class='accordion-content-box accordion-content px-0 overflow-hidden max-w-[930px] w-[100%]' aria-labelledby='basic-heading-one-default'>
                                    <div class="accordion-text">
                                        <div class="employees-box grid grid-cols-1 lg:grid-cols-[25%_minmax(70%,_1fr)] gap-1 box-border">
                                            <div class="bg-white p-2.5">
                                                <span>Тойвонен Николай Рудольфович</span>
                                            </div>
                                            <div class="bg-white p-2.5 flex items-center text-[var(--secondary-color)]">
                                                <span>ректор, председатель Ученого совета, кандидат физико-математических наук, доцент</span>
                                            </div>
                                            <div class="bg-white p-2.5">
                                                <span>Ярчук Ангелина Владимировна</span>
                                            </div>
                                            <div class="bg-white p-2.5 flex items-center text-[var(--secondary-color)]">
                                                <span>проректор по развитию – руководитель аппарата, заместитель председателя Ученого совета, кандидат экономических наук, доцент</span>
                                            </div>
                                            <div class="bg-white p-2.5">
                                                <span>Ярчук Ангелина Владимировна</span>
                                            </div>
                                            <div class="bg-white p-2.5 flex items-center text-[var(--secondary-color)]">
                                                <span>проректор по развитию – руководитель аппарата, заместитель председателя Ученого совета, кандидат экономических наук, доцент</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script src="../assets/js/search-in-box.js"></script>
                    <script src="../assets/js/accordion-script.js"></script>
</body>
</html>