<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/main-style.css">
    <link rel="stylesheet" href="../assets/css/new-tailwind.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Template-otdel</title>
</head>
<body>
                    <div class="max-w-[978px] w-[100%] mx-auto">
                            <div class="bg-white p-6 sm:min-h-[257px] flex flex-col justify-between">
                                <div class="mb-7 sm:mb-0">
                                    <h2 class="font-bold text-2xl mb-5">Черкашин Виктор Борисович</h2>
                                    <div class="flex flex-col sm:flex-row">
                                        <span class="text-[#4C4C4C] text-lg">
                                            Должность:
                                        </span>
                                        <span class="text-[var(--secondary-color)] text-lg pt-3 sm:ps-3 sm:pt-0">
                                            Начальник отдела внутренней безопасности и охраны
                                        </span>
                                    </div>
                                </div>
                                    <div class="flex justify-between flex-col sm:flex-row mb-7 sm:mb-0">
                                        <div class="w-[100%] mb-7 sm:mb-0">
                                            <span class="text-[#4C4C4C] text-lg">
                                                Адрес:
                                            </span>
                                            <p class="font-semibold text-lg text-[#4C4C4C]">
                                                корпус 9, каб. 224
                                            </p>
                                        </div>
                                        <div class="w-[100%]">
                                            <span class="text-[#4C4C4C] text-lg">
                                                Телефон:
                                            </span>
                                            <p class="font-semibold text-lg text-[#4C4C4C]">
                                                +7 (990) XXX-XX-XX
                                            </p>
                                        </div>
                                    </div>
                            </div>
                        <div class="about-otdel">
                            <h2 class="font-bold text-3xl my-6">Об отделе</h2>
                            <div class="bg-white p-6 mb-5">
                                <p class="text-[var(--main-color)] font-semibold text-lg">
                                    Отдел внутренней безопасности и охраны является одним из ключевых подразделений департамента внутренней безопасности и охраны.
                                    Этот отдел занимается:
                                </p>
                                <ul class="list-disc list-inside marker:text-[var(--secondary-color)] text-[var(--main-color)]">
                                    <li class="leading-[2.8rem]">
                                        проведение служебных расследований (разбирательств) по фактам;
                                    </li>
                                    <li class="leading-[2rem]">
                                        анализ защищенности материальных ценностей и финансовых средств, проведение мероприятий по декриминализации экономических отношений, защите экономических интересов университета.
                                    </li>
                                </ul>
                            </div>
                            <div class="bg-white p-6 mb-5">
                                <p class="text-[var(--main-color)] font-semibold text-lg">
                                    Отдел внутренней безопасности и охраны является одним из ключевых подразделений департамента внутренней безопасности и охраны.
                                    Этот отдел занимается:
                                </p>
                                <ul class="list-disc list-inside marker:text-[var(--secondary-color)] text-[var(--main-color)]">
                                    <li class="leading-[2.8rem]">
                                        проведение служебных расследований (разбирательств) по фактам;
                                    </li>
                                    <li class="leading-[2rem]">
                                        анализ защищенности материальных ценностей и финансовых средств, проведение мероприятий по декриминализации экономических отношений, защите экономических интересов университета.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="employees-about">
                            <h2 class="font-bold text-3xl my-6 text-end">Сотрудники</h2>
                            <div class="employees-box grid grid-cols-1 lg:grid-cols-[25%_minmax(70%,_1fr)] gap-1">
                                    <div class="bg-white p-2.5">
                                        <span>Черкашин Виктор Борисович</span>
                                    </div>
                                    <div class="bg-white p-2.5 flex items-center">
                                        <span class="ps-3 lg:ps-0">Начальник отдела внутренней безопасности и охраны</span>
                                    </div>
                                    <div class="bg-white p-2.5">
                                        <span>Черкашин Виктор Борисович</span>
                                    </div>
                                    <div class="bg-white p-2.5 flex items-center">
                                        <span class="ps-3 lg:ps-0">Начальник отдела внутренней безопасности и охраны</span>
                                    </div>
                                </div>

                        </div>
                    </div>
                    <script src="../assets/js/search-in-box.js"></script>
</body>
</html>