    <!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/main-style.css">
    <link rel="stylesheet" href="../assets/css/new-tailwind.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Студентам</title>
</head>
<body>
<div class="main-wrapper">
    <header>
        <div class="upper-menu">
            <div class="box-header-address">
                <h2 class="header-address">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#820000" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                    </svg>
                    г. Мелитополь, пр. Б. Хмельницкого, д. 18
                </h2>
            </div>
            <div class="box-upper-nav">
                <nav class="nav flex align-center">
                    <a class="nav-link" href="#">Студенту</a>
                    <a class="nav-link" href="#">Поступающим</a>
                    <a class="nav-link" href="#">Аспирантам</a>
                    <a class="nav-link" href="#">Выпустникам</a>
                    <a class="nav-link" href="#">Партнерам</a>
                </nav>
            </div>
        </div>
        <div class="main-menu">
            <div class="box-logo">
                <a href="#">
                    <img src="../assets/img/white-logo.png" alt="Логотип университета">
                </a>
            </div>
            <div class="box-main-menu">
                <nav class="navbar">
                    <button class="navbar-toggler items-end rounded-0  border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo2" aria-controls="navbarTogglerDemo2" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="box-hamburg">
                                        <i class="bi bi-list"></i>
                                    </span>
                    </button>
                    <div class="navbar-collapse">
                        <ul class="navbar-nav">
                            <li class="nav-item point-menu">
                                <a class="nav-link" href="#">О МелГУ</a>
                            </li>
                            <li class="nav-item point-menu">
                                <a class="nav-link" href="#">Образование</a>
                            </li>
                            <li class="nav-item point-menu">
                                <a class="nav-link" href="#">Наука</a>
                            </li>
                            <li class="nav-item point-menu">
                                <a class="nav-link" href="#">Молодежная политика</a>
                            </li>
                            <li class="nav-item point-menu">
                                <a class="nav-link" href="#">Доступная среда</a>
                            </li>
                            <li class="nav-item point-menu">
                                <a class="nav-link" href="#">Новости</a>
                            </li>
                        </ul>
                        <div class="search-and-btn-box">
                            <form class="search-form">
                                <input class="form-control rounded-none" type="search" placeholder="Поиск" aria-label="Search">
                                <button class="btn rounded-none border-0" type="submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                    </svg>
                                </button>
                            </form>
                            <div class="personal-account-box">
                                <button class="personal-account-btn flex align-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
                                        <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                                    </svg>
                                    <span>Личный кабинет</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="about-melsu-menu new-menu hidde">
                    <div class="box-dropdown-btns">
                        <div class="box-back-btn">
                            <a class="back-btn">
                                <i class="bi bi-arrow-left"></i>
                                Назад
                            </a>
                        </div>
                        <div class="box-transit-btn">
                            <a class="transit-btn">
                                О МелГУ
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="wrapper-dropdown-menu">
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="education-melsu-menu new-menu hidde">
                    <div class="box-dropdown-btns">
                        <div class="box-back-btn">
                            <a class="back-btn">
                                <i class="bi bi-arrow-left"></i>
                                Назад
                            </a>
                        </div>
                        <div class="box-transit-btn">
                            <a class="transit-btn">
                                Образование
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="wrapper-dropdown-menu">
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="science-melsu-menu new-menu hidde">
                    <div class="box-dropdown-btns">
                        <div class="box-back-btn">
                            <a class="back-btn">
                                <i class="bi bi-arrow-left"></i>
                                Назад
                            </a>
                        </div>
                        <div class="box-transit-btn">
                            <a class="transit-btn">
                                Наука
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="wrapper-dropdown-menu">
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="youth-policy-melsu-menu new-menu hidde">
                    <div class="box-dropdown-btns">
                        <div class="box-back-btn">
                            <a class="back-btn">
                                <i class="bi bi-arrow-left"></i>
                                Назад
                            </a>
                        </div>
                        <div class="box-transit-btn">
                            <a class="transit-btn">
                                Молодежная политика
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="wrapper-dropdown-menu">
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="ovz-melsu-menu new-menu hidde">
                    <div class="box-dropdown-btns">
                        <div class="box-back-btn">
                            <a class="back-btn">
                                <i class="bi bi-arrow-left"></i>
                                Назад
                            </a>
                        </div>
                        <div class="box-transit-btn">
                            <a class="transit-btn">
                                Доступная среда
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="wrapper-dropdown-menu">
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="main-section">
        <section class="container custom pt-5">
            <div class="page-header pt-[9%] mb-5 xl:mb-20">
                <div class="breadcrumbs flex">
                    <span class="crumb-home font-xs after:content-['\2192'] me-2 after:ms-2"><a href="/" class="font-xs">Главная</a></span>
                    <span class="crumb font-xs"><a href="#" class="font-xs">О МелГУ</a></span>
                </div>
                <h1 class="text-[32px] sm:text-[55px] font-bold">
                    Студентам
                </h1>
            </div>
        </section>
        <section class="container custom">
            <div class="my-6 lg:mt-[7%] lg:mb-[3.5%] flex flex-col">
                <p class="text-lg text-[#4C4C4C] mb-2">
                    В разделе собрана полезная информация для студентов МелГУ. Здесь студент узнает, как связаться с деканатом, где и как получить справки, как найти сайты преподавателей, как заселиться в общежитие и оплатить проживание.
                </p>
                <a href="#" class="bg-[var(--primary-color)] transition-[var(--transition-link)]
                py-[12px] px-[24px] max-w-[162px] text-white
                hover:bg-[var(--secondary-color)] ">Личный кабинет</a>
            </div>
        </section>
        <div class="box-heading container custom">
            <h2 class="font-bold text-2xl my-6 lg:mt-[7%] lg:mb-[3.5%]">Полезное</h2>
        </div>
        <section class="container custom bg-[url('../assets/img/bg-section-6.jpg')] bg-[100%] bg-cover">
            <div class="container max-w-[1140px]">
                <div class="grid grid-cols-1 lg:grid-cols-[1fr,1fr,1fr] gap-5 lg:gap-0">
                    <div class="lg:min-h-[349px]">

                    </div>
                    <div class="bg-[#1E1E1E] text-white text-lg p-6 lg:min-h-[349px]">
                        <h4 class="text-2xl font-[600] mb-3">По делам</h4>
                        <ul>
                            <li class="*:hover:opacity-[0.8] *:transition-[var(--transition-link)] leading-normal pb-3">
                                <a href="#"><i class="bi bi-arrow-right me-3"></i>Факультеты</a>
                            </li>
                            <li class="*:hover:opacity-[0.8] *:transition-[var(--transition-link)] leading-normal pb-3">
                                <a href="#"><i class="bi bi-arrow-right me-3"></i>Учебный отдел</a>
                            </li>
                            <li class="*:hover:opacity-[0.8] *:transition-[var(--transition-link)] leading-normal pb-3 lg:pb-0">
                                <a href="#"><i class="bi bi-arrow-right me-3"></i>Отдел молодежных инициатив и проектной деятельности</a>
                            </li>
                        </ul>
                    </div>
                    <div class="bg-[var(--primary-color)] text-white text-lg p-6 lg:min-h-[349px]">
                        <h4 class="text-2xl font-[600] mb-3">Актуально</h4>
                        <ul>
                            <li class="*:hover:opacity-[0.8] *:transition-[var(--transition-link)] leading-normal pb-3">
                                <a href="#"><i class="bi bi-arrow-right me-3"></i>Щаселение в общежитие</a>
                            </li>
                            <li class="*:hover:opacity-[0.8] *:transition-[var(--transition-link)] leading-normal pb-3">
                                <a href="#"><i class="bi bi-arrow-right me-3"></i>Дополнительное образование</a>
                            </li>
                            <li class="*:hover:opacity-[0.8] *:transition-[var(--transition-link)] leading-normal pb-3 lg:pb-0">
                                <a href="#"><i class="bi bi-arrow-right me-3"></i>Объединение и клубы</a>
                            </li>
                        </ul>
                    </div>
                    <div class="bg-white text-lg p-6 lg:min-h-[349px]">
                        <h4 class="text-2xl font-[600] mb-3">Будьте на связи</h4>
                        <ul>
                            <li class="*:hover:opacity-[0.8] *:transition-[var(--transition-link)] leading-normal pb-3">
                                <a href="#"><i class="bi bi-arrow-right me-3"></i>Корпоративная почта</a>
                            </li>
                            <li class="*:hover:opacity-[0.8] *:transition-[var(--transition-link)] leading-normal pb-3 lg:pb-0">
                                <a href="#"><i class="bi bi-arrow-right me-3"></i>Wi-Fi</a>
                            </li>
                        </ul>
                    </div>
                    <div class="bg-[var(--secondary-color)] text-white  text-lg p-6 lg:min-h-[349px]">
                        <h4 class="text-2xl font-[600] mb-3">Знакомство с МелГУ</h4>
                        <ul>
                            <li class="*:hover:opacity-[0.8] *:transition-[var(--transition-link)] leading-normal pb-3">
                                <a href="#"><i class="bi bi-arrow-right me-3"></i>Новости МелГУ</a>
                            </li>
                            <li class="*:hover:opacity-[0.8] *:transition-[var(--transition-link)] leading-normal pb-3 lg:pb-0">
                                <a href="#"><i class="bi bi-arrow-right me-3"></i>Карта Кампуса</a>
                            </li>
                        </ul>
                    </div>
                    <div class="bg-[#685858] text-white  text-lg p-6 lg:min-h-[349px]">
                        <h4 class="text-2xl font-[600] mb-3">Библиотека</h4>
                        <ul>
                            <li class="*:hover:opacity-[0.8] *:transition-[var(--transition-link)] leading-normal pb-3">
                                <a href="#"><i class="bi bi-arrow-right me-3"></i>Отдел формирования и обработки документов</a>
                            </li>
                            <li class="*:hover:opacity-[0.8] *:transition-[var(--transition-link)] leading-normal pb-3">
                                <a href="#"><i class="bi bi-arrow-right me-3"></i>Отдел книгохранения фонда</a>
                            </li>
                            <li class="*:hover:opacity-[0.8] *:transition-[var(--transition-link)] leading-normal pb-3">
                                <a href="#"><i class="bi bi-arrow-right me-3"></i>Отдел обслуживания пользователей с абонементами и читальными залами</a>
                            </li>
                            <li class="*:hover:opacity-[0.8] *:transition-[var(--transition-link)] leading-normal pb-3 lg:pb-0">
                                <a href="#"><i class="bi bi-arrow-right me-3"></i>Отдел научно-информационной и библиографической работы</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <div class="box-heading container custom">
            <h2 class="font-bold text-2xl my-6 lg:mt-[7%] lg:mb-[3.5%]">Обучение</h2>
        </div>
        <section class="struct-rumz-section min-h-[auto] lg:min-h-[370px] bg-[url('../assets/img/bg-section-7.jpg')] bg-[100%]">
            <div class="container custom relative min-h-[auto] lg:min-h-[370px]">
                <div class="sub-box-menu grid grid-cols-1 lg:grid-cols-[1fr,1fr] bg-[var(--primary-color)] text-white text-sm sm:text-lg  p-6 w-[100%] lg:w-[70%] lg:absolute lg:bottom-[10px] lg:right-0 mx-auto lg:mx-none">
                    <div>
                        <ul>
                            <li class="*:hover:opacity-[0.8] *:transition-[var(--transition-link)] leading-normal pb-3">
                                <a href="#"><i class="bi bi-arrow-right me-3"></i>Сведения об образовательной организации</a>
                            </li>
                            <li class="*:hover:opacity-[0.8] *:transition-[var(--transition-link)] leading-normal pb-3">
                                <a href="#"><i class="bi bi-arrow-right me-3"></i>Миссия МелГУ</a>
                            </li>
                            <li class="*:hover:opacity-[0.8] *:transition-[var(--transition-link)] leading-normal pb-3 lg:pb-0">
                                <a href="#"><i class="bi bi-arrow-right me-3"></i>История МелГУ</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li class="*:hover:opacity-[0.8] *:transition-[var(--transition-link)] leading-normal pb-3">
                                <a href="#"><i class="bi bi-arrow-right me-3"></i>МелГУ сегодня</a>
                            </li>
                            <li class="*:hover:opacity-[0.8] *:transition-[var(--transition-link)] leading-normal pb-3">
                                <a href="#"><i class="bi bi-arrow-right me-3"></i>Фотопрогулка</a>
                            </li>
                            <li class="*:hover:opacity-[0.8] *:transition-[var(--transition-link)] leading-normal">
                                <a href="#"><i class="bi bi-arrow-right me-3"></i>Экскурсии в МелГУ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <div class="box-heading container custom">
            <h2 class="font-bold text-2xl my-6 lg:mt-[7%] lg:mb-[3.5%] lg:text-end">Поддержка студентов</h2>
        </div>
        <section class="struct-university-section">
            <div class="container custom">
                <div class="sub-box-menu text-sm sm:text-lg  grid grid-cols-1 lg:grid-cols-[1fr,1fr,1fr] lg:p-0 w-[100%]">
                    <div class="bg-[var(--primary-color)] text-white p-6">
                        <ul>
                            <li class="*:hover:opacity-[0.8] *:transition-[var(--transition-link)] leading-normal pb-3">
                                <a href="#"><i class="bi bi-arrow-right me-3"></i>Сведения об образовательной организации</a>
                            </li>
                            <li class="*:hover:opacity-[0.8] *:transition-[var(--transition-link)] leading-normal pb-3">
                                <a href="#"><i class="bi bi-arrow-right me-3"></i>Миссия МелГУ</a>
                            </li>
                            <li class="*:hover:opacity-[0.8] *:transition-[var(--transition-link)] leading-normal pb-3 lg:pb-0">
                                <a href="#"><i class="bi bi-arrow-right me-3"></i>История МелГУ</a>
                            </li>
                        </ul>
                    </div>
                    <div class="bg-white text-[var(--primary-color)] p-6">
                        <ul>
                            <li class="*:hover:opacity-[0.8] *:transition-[var(--transition-link)] leading-normal pb-3">
                                <a href="#"><i class="bi bi-arrow-right me-3"></i>МелГУ сегодня</a>
                            </li>
                            <li class="*:hover:opacity-[0.8] *:transition-[var(--transition-link)] leading-normal pb-3">
                                <a href="#"><i class="bi bi-arrow-right me-3"></i>Фотопрогулка</a>
                            </li>
                            <li class="*:hover:opacity-[0.8] *:transition-[var(--transition-link)] leading-normal">
                                <a href="#"><i class="bi bi-arrow-right me-3"></i>Экскурсии в МелГУ</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <img src="../assets/img/ph-7.jpg" alt="" class="w-[100%] min-h-[100%]">
                    </div>
                </div>
            </div>
        </section>
        <div class="box-heading container custom">
            <h2 class="font-bold text-2xl my-6 lg:mt-[7%] lg:mb-[3.5%]">Объединения и клубы</h2>
        </div>
        <section class="struct-rumz-section min-h-[auto] lg:min-h-[370px] bg-[url('../assets/img/bg-section-8.jpg')] bg-[100%]">
            <div class="container custom relative min-h-[auto] lg:min-h-[370px]">
                <div class="sub-box-menu grid grid-cols-1 lg:grid-cols-[1fr,1fr] bg-[var(--primary-color)] text-white text-sm sm:text-lg  p-6 w-[100%] lg:w-[70%] lg:absolute lg:bottom-[10px] lg:right-0 mx-auto lg:mx-none">
                    <div>
                        <ul>
                            <li class="*:hover:opacity-[0.8] *:transition-[var(--transition-link)] leading-normal pb-3">
                                <a href="#"><i class="bi bi-arrow-right me-3"></i>Сведения об образовательной организации</a>
                            </li>
                            <li class="*:hover:opacity-[0.8] *:transition-[var(--transition-link)] leading-normal pb-3">
                                <a href="#"><i class="bi bi-arrow-right me-3"></i>Миссия МелГУ</a>
                            </li>
                            <li class="*:hover:opacity-[0.8] *:transition-[var(--transition-link)] leading-normal pb-3 lg:pb-0">
                                <a href="#"><i class="bi bi-arrow-right me-3"></i>История МелГУ</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li class="*:hover:opacity-[0.8] *:transition-[var(--transition-link)] leading-normal pb-3">
                                <a href="#"><i class="bi bi-arrow-right me-3"></i>МелГУ сегодня</a>
                            </li>
                            <li class="*:hover:opacity-[0.8] *:transition-[var(--transition-link)] leading-normal pb-3">
                                <a href="#"><i class="bi bi-arrow-right me-3"></i>Фотопрогулка</a>
                            </li>
                            <li class="*:hover:opacity-[0.8] *:transition-[var(--transition-link)] leading-normal">
                                <a href="#"><i class="bi bi-arrow-right me-3"></i>Экскурсии в МелГУ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <footer>
        <div class="header-footer">
            <div class="upper-footer-box">
                <div class="box-logo">
                    <a href="#">
                        <img src="../assets/img/white-logo.png" alt="Логотип университета">
                    </a>
                </div>
                <div class="footer-menu-box">
                    <nav>
                        <a href="#">Новости</a
                        ><a href="#">Полезная информация</a>
                        <a href="#">Сведения об образовательной организации</a>
                        <a href="#">Карта кампуса</a>
                        <a href="#">Карта сайта</a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="middle-footer container custom lg:p-2.5 grid grid-cols-1 lg:grid-cols-[25%,25%,25%,25%] gap-5 p-6">
            <div class="footer-box">
                <h4>Приемная комиссия</h4>
                <ul>
                    <li>
                        г. Мелитополь, пр. Богдана Хмельницкого 18, аудитория: 1.116
                    </li>
                    <li>
                        +7(990) 021 57 16
                    </li>
                    <li>
                        priyomnaya_komissiya@mgu-mlt.ru
                    </li>
                    <li>
                        <a href="">Страница комиссии →</a>
                    </li>
                </ul>
            </div>
            <div class="footer-box">
                <h4>Полезные ссылки</h4>
                <span>Пресс-служба</span>
                <ul>
                    <li>
                        +7(990) 142 78 65
                    </li>
                </ul>
            </div>
            <div class="footer-box">
                <h4>Ректорат</h4>
                <ul>
                    <li>
                        г. Мелитополь, пр. Богдана Хмельницкого 18, аудитория: 1.101
                    </li>
                    <li>
                        +7(990) 146 9279
                    </li>
                    <li>
                        rektorat@mgu-mlt.ru
                    </li>
                </ul>
            </div>
        </div>
        <div class="under-footer lg:p-2.5">
            <div class="under-footer-wrapper container custom p-0 flex flex-col items-center lg:flex-row lg:justify-between">
                <div class="copyright-box col-12 col-lg-6">
                    <p>
                        Copyright © 2022 - 2024 • ФГБОУ ВО "МелГУ" При перепечатке текстовой информации и фотографий ссылка на сайт обязательна
                    </p>
                </div>
                <div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-end">
                    <div class="social-footer-box">
                        <a href="#" class="social-link">
                            <i class="fa fa-vk" aria-hidden="true"></i>
                            VKONTAKTE
                        </a>
                        <a href="#" class="social-link">
                            <i class="bi bi-telegram"></i>
                            TELEGRAM
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="side_offset">
        <ul class="box-side-social-link">
            <li>
                <a href="#" class="social-link">
                    <i class="fa fa-vk" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="#" class="social-link">
                    <i class="bi bi-telegram"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="../assets/js/slider.js"></script>
<script src="../assets/js/menu.js"></script>
<script src="../assets/js/news-section-main-page.js"></script>
<script src="../assets/js/counter-script.js"></script>
</body>
</html>