<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/main-style.css">
    <link rel="stylesheet" href="../assets/css/new-tailwind.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Департаменты</title>
</head>
<body>
<div class="main-wrapper">
    <section class="main-section">
        <section class="container custom pt-5">
            <div class="grid grid-cols-1 lg:grid-cols-[25%_minmax(70%,_1fr)] gap-3">
                <div class="left-side-menu-box hidden lg:block bg-white p-2.5">
                    <h3 class="font-bold text-lg pb-3 mx-2.5 mt-3 border-b-[1px] border-[var(--primary-color)]">Университет</h3>
                    <ul class="left-side-menu">
                        <li class="py-3.5 px-5">
                            <a href="#" class="text-[#301428] font-['jost']">Поинт меню</a>
                        </li>
                        <li class="py-3.5 px-5">
                            <a href="#" class="text-[#301428] font-['jost']">Поинт меню</a>
                        </li>
                        <li class="py-3.5 px-5">
                            <a href="#" class="text-[#301428] font-['jost']">Поинт меню</a>
                        </li>
                        <li class="py-3.5 px-5">
                            <a href="#" class="text-[#301428] font-['jost']">Поинт меню</a>
                        </li>
                    </ul>
                </div>
                <div class="main-content">
                    <div class="max-w-[978px] w-[100%]">
                        <div class="mb-9">
                            <input  type="text" id="search-in-box" class="w-[100%] border-[1px] p-[12px]" placeholder="Поиск">
                        </div>
                        <div class="box-searching bg-white p-6 sm:min-h-[342px] flex flex-col justify-between">
                            <div class="mb-7 sm:mb-0">
                                <h2 class="font-bold text-2xl mb-5">Департамент информационной политики</h2>
                                <div class="flex flex-col sm:flex-row">
                                    <span class="text-[#4C4C4C] text-lg">
                                        Директор:
                                    </span>
                                    <span class="text-[var(--secondary-color)] text-lg pt-3 sm:ps-3 sm:pt-0">
                                        Матвиенко Ирина Владиславовна
                                    </span>
                                </div>
                            </div>
                                <div class="flex justify-between flex-col sm:flex-row mb-7 sm:mb-0">
                                    <div class="w-[100%] mb-7 sm:mb-0">
                                        <span class="text-[#4C4C4C] text-lg">
                                            Адрес:
                                        </span>
                                        <p class="font-semibold text-lg text-[#4C4C4C]">
                                            корпус 1, ауд. 209
                                        </p>
                                    </div>
                                    <div class="w-[100%]">
                                        <span class="text-[#4C4C4C] text-lg">
                                            Телефон:
                                        </span>
                                        <p class="font-semibold text-lg text-[#4C4C4C]">
                                            +7 (990) 142-78-65
                                        </p>
                                    </div>
                                </div>
                            <div class="btn-more-box">
                                <a href="#" class="btn-more">Страница департамента</a>
                                <i class="bi bi-arrow-right-circle-fill"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <div class="side_offset">
        <ul class="box-side-social-link">
            <li>
                <a href="#" class="social-link">
                    <i class="fa fa-vk" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="#" class="social-link">
                    <i class="bi bi-telegram"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</body>
</html>