<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/main-style.css">
    <link rel="stylesheet" href="../assets/css/new-tailwind.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <title>Новости</title>
</head>
<body>
<div class="main-wrapper">
    <header>
        <div class="upper-menu bg-[#FAFAFA] z-[82]">
            <div class="box-header-address bg-[#FAFAFA] z-[82]">
                <h2 class="header-address">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#820000" class="bi bi-geo-alt-fill me-2" viewBox="0 0 16 16">
                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                    </svg>
                    г. Мелитополь, пр. Б. Хмельницкого, д. 18
                </h2>
            </div>
            <div class="box-upper-nav bg-[#FAFAFA] z-[82]">
                <nav class="nav flex align-center">
                    <a class="nav-link" href="#">Студенту</a>
                    <a class="nav-link" href="#">Поступающим</a>
                    <a class="nav-link" href="../views/view-aspirantam.html">Аспирантам</a>
                    <a class="nav-link" href="#">Выпустникам</a>
                    <a class="nav-link" href="#">Партнерам</a>
                    <a class="nav-link btn-search cursor-pointer flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                    </a>
                </nav>
            </div>

        </div>
        <div class="search-box py-6">
            <div class="container custom">
                <div class="search-and-close-box mb-8">
                    <h2 class="p-0">Поиск</h2>
                    <span class="close-search"><i class="bi bi-x-lg me-2"></i>Закрыть</span>
                </div>
                <form class="search-form mb-8">
                    <input class="form-control rounded-none" type="search" placeholder="Поиск" aria-label="Search">
                    <button class="btn rounded-none text-white" type="submit">
                        Искать
                    </button>
                </form>
                <div class="box-btns grid grid-cols-1 lg:grid-cols-[1fr,1fr,1fr,1fr] gap-3 text-center mb-8">
                    <a class="btn-filter-search active uppercase py-[15px] px-[20px]">Искать везде</a>
                    <a class="btn-filter-search uppercase py-[15px] px-[20px]">Новости</a>
                    <a class="btn-filter-search uppercase py-[15px] px-[20px]">Структура сайта</a>
                    <a class="btn-filter-search uppercase py-[15px] px-[20px]">Справочник</a>
                </div>
            </div>
        </div>
        <div class="main-menu">
            <div class="box-logo">
                <a href="#">
                    <img src="../assets/img/white-logo.png" alt="Логотип университета">
                </a>
            </div>
            <div class="box-main-menu">
                <nav class="navbar">
                    <button class="btn-search bg-[var(--primary-color)] min-h-[38px] min-w-[38px] flex items-center justify-center absolute right-[55px] top-[13px]">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                    </button>
                    <button class="navbar-toggler items-end rounded-0  border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo2" aria-controls="navbarTogglerDemo2" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="box-hamburg">
                            <i class="bi bi-list"></i>
                        </span>
                    </button>
                    <div class="navbar-collapse">
                        <ul class="navbar-nav">
                            <li class="nav-item point-menu flex items-center">
                                <a class="nav-link flex justify-between lg:inline" href="#">О МелГУ  <i class="bi bi-chevron-right inline lg:hidden"></i></a>
                            </li>
                            <li class="nav-item point-menu flex items-center">
                                <a class="nav-link" href="#">Образование</a>
                            </li>
                            <li class="nav-item point-menu flex items-center">
                                <a class="nav-link" href="#">Наука</a>
                            </li>
                            <li class="nav-item point-menu flex items-center">
                                <a class="nav-link" href="#">Молодежная политика</a>
                            </li>
                            <li class="nav-item point-menu flex items-center">
                                <a class="nav-link" href="#">Доступная среда</a>
                            </li>
                            <li class="nav-item point-menu flex items-center">
                                <a class="nav-link" href="#">Новости</a>
                            </li>
                        </ul>
                        <div class="search-and-btn-box">
                            <div class="personal-account-box">
                                <button class="personal-account-btn flex align-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
                                        <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                                    </svg>
                                    <span>Личный кабинет</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="about-melsu-menu new-menu hidde">
                    <div class="box-dropdown-btns">
                        <div class="box-back-btn">
                            <a class="back-btn">
                                <i class="bi bi-arrow-left"></i>
                                Назад
                            </a>
                        </div>
                        <div class="box-transit-btn">
                            <a class="transit-btn" href="../template/menu-page.html">
                                О МелГУ
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="wrapper-dropdown-menu">
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="education-melsu-menu new-menu hidde">
                    <div class="box-dropdown-btns">
                        <div class="box-back-btn">
                            <a class="back-btn">
                                <i class="bi bi-arrow-left"></i>
                                Назад
                            </a>
                        </div>
                        <div class="box-transit-btn">
                            <a class="transit-btn">
                                Образование
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="wrapper-dropdown-menu">
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="science-melsu-menu new-menu hidde">
                    <div class="box-dropdown-btns">
                        <div class="box-back-btn">
                            <a class="back-btn">
                                <i class="bi bi-arrow-left"></i>
                                Назад
                            </a>
                        </div>
                        <div class="box-transit-btn">
                            <a class="transit-btn">
                                Наука
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="wrapper-dropdown-menu">
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="youth-policy-melsu-menu new-menu hidde">
                    <div class="box-dropdown-btns">
                        <div class="box-back-btn">
                            <a class="back-btn">
                                <i class="bi bi-arrow-left"></i>
                                Назад
                            </a>
                        </div>
                        <div class="box-transit-btn">
                            <a class="transit-btn">
                                Молодежная политика
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="wrapper-dropdown-menu">
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="ovz-melsu-menu new-menu hidde">
                    <div class="box-dropdown-btns">
                        <div class="box-back-btn">
                            <a class="back-btn">
                                <i class="bi bi-arrow-left"></i>
                                Назад
                            </a>
                        </div>
                        <div class="box-transit-btn">
                            <a class="transit-btn">
                                Доступная среда
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="wrapper-dropdown-menu">
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                        <div class="box-dropdown-menu">
                            <nav class="nav">
                                <a class="nav-link" href="#">Студенту</a>
                                <a class="nav-link" href="#">Поступающим</a>
                                <a class="nav-link" href="#">Аспирантам</a>
                                <a class="nav-link" href="#">Выпустникам</a>
                                <a class="nav-link" href="#">Партнерам</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="main-section">
        <section class="container custom">
            <div class="page-header pt-14 mb-5 xl:mb-14">
                <div class="breadcrumbs flex mb-4">
                    <span class="crumb-home font-xs after:content-['\2192'] me-2 after:ms-2"><a href="/" class="font-xs">Главная</a></span>
                    <span class="crumb font-xs"><a href="#" class="font-xs">Новости</a></span>
                </div>
                <h1 class="text-[32px] sm:text-[55px] font-bold">
                    Новости
                </h1>
            </div>
        </section>
        <div class="container custom p-2.5">
            <div class="grid grid-cols-1 lg:grid-cols-[1fr,1fr,1fr] xl:grid-cols-[1fr,1fr,1fr,1fr] mb-3 gap-5">
                <div>
                    <input type="text" name="daterange" class="dataRange h-[48px] text-center py-3 px-[18px]" value="За все время">
                </div>
                <div class="relative ">
                    <input class="chosen-value relative lg:absolute top-0 left-0 w-full min-h-[48px] max-h-[48px] text-lg py-3 px-[18px] bg-white
                             transition duration-300 ease-in-out placeholder:text-[black] focus:border-b-[2px] outline-0 z-20" type="text" value="" placeholder="Выбирите категорию">
                    <ul class="value-list transition duration-300 ease-in-out absolute top-0 left-0 w-full max-h-0 cursor-pointer list-none mt-[48px] shadow-[2px_24px_17px_-13px_rgba(66, 68, 90, 1)] overflow-hidden
                [&.open]:max-h-[320px] [&.open]:overflow-auto z-20">
                        <li class="min-h-[4rem] opacity-1 relative p-[1rem] bg-white text-lg flex items-center cursor-pointer transition duration-300 ease-in-out max-h-0 hover:bg-[#820000] hover:text-white
                                [&.closed]:max-h-0 [&.closed]:overflow-hidden [&.closed]:p-0 [&.closed]:opacity-0 [&.closed]:min-h-[0px]">Главное в МелГУ</li>
                        <li class="min-h-[4rem] relative p-[1rem] bg-white text-lg flex items-center cursor-pointer transition duration-300 ease-in-out max-h-0 hover:bg-[#820000] hover:text-white
                                [&.closed]:max-h-0 [&.closed]:overflow-hidden [&.closed]:p-0 [&.closed]:opacity-0 [&.closed]:min-h-[0px]">Наука</li>
                    </ul>
                </div>
                <div class="hidden xl:block">

                </div>
                <div class="">
                    <form class="h-[48px] flex justify-between">
                        <input class="rounded-none search-field py-3 px-[18px] w-full lg:w-[83%] outline-0" type="search" placeholder="Поиск" aria-label="Search">
                        <button class="btn search-btn rounded-none text-white bg-[var(--primary-color)] border-[1px] border-[var(--primary-color)] py-3 px-[18px]
                                       hover:bg-white hover:text-[var(--primary-color)]" type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="news-wrapper grid grid-cols-1 lg:grid-cols-[1fr,1fr,1fr] xl:grid-cols-[1fr,1fr,1fr,1fr] gap-0 gap-y-2.5 lg:gap-5">
                <div class="first-news-box col-span-2 row-span-2 border-[1px] max-h-[758px]">
                    <a href="#">
                        <div class="img-news-box xl:max-w-[660px] max-h-[353px] relative">
                            <img src="../assets/img/ph-news.jpg" alt="" class="object-cover max-h-[353px] w-full">
                            <span class="meta-category bg-[var(--primary-color)] text-white text-[12px] absolute top-[10px] py-[3px] px-[7px] font-[500]">Наука</span>
                        </div>
                        <div class="bg-[var(--primary-color)] p-5 text-white lg:max-h-[404px] h-auto lg:h-full">
                            <div class="grid grid-cols-[70%,29%] mb-3">
                                <h2 class="text-3xl font-[700]">
                                    Молодые ученые, ВНИМАНИЕ!
                                </h2>
                                <div class="text-end">
                                    <span class="text-[12px] font-[500]">
                                        <i class="bi bi-calendar2-week"></i>
                                        Июл 12, 2024
                                    </span>
                                </div>
                            </div>
                            <div>
                                <p class="line-clamp-[10]">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias aliquid amet dignissimos dolorum ea eligendi ex expedita facilis fuga magni, minima nesciunt nobis obcaecati odit officia quisquam rem vel?
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae culpa deleniti dolore, enim explicabo fugiat, fugit iste laudantium nesciunt perspiciatis recusandae sit? Aliquid eligendi fuga fugit omnis placeat praesentium sequi!
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque laudantium maxime minima nisi rem! Atque dicta doloremque eos impedit ipsum optio placeat ratione repellat sed? Doloribus maxime officiis saepe temporibus!
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="news-box border-[1px] max-h-[339px] lg:max-h-[367px]">
                    <div class="box-photo-news min-h-[139px] bg-white overflow-hidden">
                        <img src="../assets/img/ph-news.jpg" alt="#" class="object-cover max-h-[139px] w-full">
                    </div>
                    <div class="descrip-box-news bg-white text-[var(--primary-color)] lg:min-h-[228px] xl:max-h-[228px]">
                        <div class="descrip-wrapper p-5 lg:max-h-[228px]">
                            <div class="grid grid-cols-[1fr] mb-3 p-[-20px] relative">
                                <span class="meta-category bg-[var(--primary-color)] absolute text-white text-[12px] left-[-20px] py-[3px] px-[7px] font-[500]">Наука</span>
                                <div class="text-end">
                                    <span class="text-[12px] font-[500]">
                                        <i class="bi bi-calendar2-week"></i>
                                        Июл 12, 2024
                                    </span>
                                </div>
                            </div>
                            <div class="mb-6">
                                <h3 class="text-lg font-[700] line-clamp-3 max-h-[84px]">
                                    Спортсмены МелГУ устанавливают новые рекорды
                                </h3>
                            </div>
                            <div class="description-news line-clamp-3 max-h-[72px]">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, dolores ea esse et iusto possimus quibusdam voluptatem. Ea id necessitatibus quos recusandae veritatis. Aliquam cum deserunt iusto laborum provident quis!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="news-box border-[1px] max-h-[339px] lg:max-h-[367px]">
                    <div class="box-photo-news min-h-[139px] bg-white overflow-hidden">
                        <img src="../assets/img/ph-news.jpg" alt="#" class="object-cover max-h-[139px] w-full">
                    </div>
                    <div class="descrip-box-news bg-white text-[var(--primary-color)] lg:min-h-[228px] xl:max-h-[228px]">
                        <div class="descrip-wrapper p-5 lg:max-h-[228px]">
                            <div class="grid grid-cols-[1fr] mb-3 p-[-20px] relative">
                                <span class="meta-category bg-[var(--primary-color)] absolute text-white text-[12px] left-[-20px] py-[3px] px-[7px] font-[500]">Наука</span>
                                <div class="text-end">
                                    <span class="text-[12px] font-[500]">
                                        <i class="bi bi-calendar2-week"></i>
                                        Июл 12, 2024
                                    </span>
                                </div>
                            </div>
                            <div class="mb-6">
                                <h3 class="text-lg font-[700] line-clamp-3 max-h-[84px]">
                                    Спортсмены МелГУ устанавливают новые рекорды
                                </h3>
                            </div>
                            <div class="description-news line-clamp-3 max-h-[72px]">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, dolores ea esse et iusto possimus quibusdam voluptatem. Ea id necessitatibus quos recusandae veritatis. Aliquam cum deserunt iusto laborum provident quis!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="news-box border-[1px] max-h-[339px] lg:max-h-[367px]">
                    <div class="box-photo-news min-h-[139px] bg-white overflow-hidden">
                        <img src="../assets/img/ph-news.jpg" alt="#" class="object-cover max-h-[139px] w-full">
                    </div>
                    <div class="descrip-box-news bg-white text-[var(--primary-color)] lg:min-h-[228px] xl:max-h-[228px]">
                        <div class="descrip-wrapper p-5 lg:max-h-[228px]">
                            <div class="grid grid-cols-[1fr] mb-3 p-[-20px] relative">
                                <span class="meta-category bg-[var(--primary-color)] absolute text-white text-[12px] left-[-20px] py-[3px] px-[7px] font-[500]">Наука</span>
                                <div class="text-end">
                                    <span class="text-[12px] font-[500]">
                                        <i class="bi bi-calendar2-week"></i>
                                        Июл 12, 2024
                                    </span>
                                </div>
                            </div>
                            <div class="mb-6">
                                <h3 class="text-lg font-[700] line-clamp-3 max-h-[84px]">
                                    Спортсмены МелГУ устанавливают новые рекорды
                                </h3>
                            </div>
                            <div class="description-news line-clamp-3 max-h-[72px]">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, dolores ea esse et iusto possimus quibusdam voluptatem. Ea id necessitatibus quos recusandae veritatis. Aliquam cum deserunt iusto laborum provident quis!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="news-box border-[1px] max-h-[339px] lg:max-h-[367px]">
                    <div class="box-photo-news min-h-[139px] bg-white overflow-hidden">
                        <img src="../assets/img/ph-news.jpg" alt="#" class="object-cover max-h-[139px] w-full">
                    </div>
                    <div class="descrip-box-news bg-white text-[var(--primary-color)] lg:min-h-[228px] xl:max-h-[228px]">
                        <div class="descrip-wrapper p-5 lg:max-h-[228px]">
                            <div class="grid grid-cols-[1fr] mb-3 p-[-20px] relative">
                                <span class="meta-category bg-[var(--primary-color)] absolute text-white text-[12px] left-[-20px] py-[3px] px-[7px] font-[500]">Наука</span>
                                <div class="text-end">
                                    <span class="text-[12px] font-[500]">
                                        <i class="bi bi-calendar2-week"></i>
                                        Июл 12, 2024
                                    </span>
                                </div>
                            </div>
                            <div class="mb-6">
                                <h3 class="text-lg font-[700] line-clamp-3 max-h-[84px]">
                                    Спортсмены МелГУ устанавливают новые рекорды
                                </h3>
                            </div>
                            <div class="description-news line-clamp-3 max-h-[72px]">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, dolores ea esse et iusto possimus quibusdam voluptatem. Ea id necessitatibus quos recusandae veritatis. Aliquam cum deserunt iusto laborum provident quis!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="news-box border-[1px] max-h-[339px] lg:max-h-[367px]">
                    <div class="box-photo-news min-h-[139px] bg-white overflow-hidden">
                        <img src="../assets/img/ph-news.jpg" alt="#" class="object-cover max-h-[139px] w-full">
                    </div>
                    <div class="descrip-box-news bg-white text-[var(--primary-color)] lg:min-h-[228px] xl:max-h-[228px]">
                        <div class="descrip-wrapper p-5 lg:max-h-[228px]">
                            <div class="grid grid-cols-[1fr] mb-3 p-[-20px] relative">
                                <span class="meta-category bg-[var(--primary-color)] absolute text-white text-[12px] left-[-20px] py-[3px] px-[7px] font-[500]">Наука</span>
                                <div class="text-end">
                                    <span class="text-[12px] font-[500]">
                                        <i class="bi bi-calendar2-week"></i>
                                        Июл 12, 2024
                                    </span>
                                </div>
                            </div>
                            <div class="mb-6">
                                <h3 class="text-lg font-[700] line-clamp-3 max-h-[84px]">
                                    Спортсмены МелГУ устанавливают новые рекорды
                                </h3>
                            </div>
                            <div class="description-news line-clamp-3 max-h-[72px]">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, dolores ea esse et iusto possimus quibusdam voluptatem. Ea id necessitatibus quos recusandae veritatis. Aliquam cum deserunt iusto laborum provident quis!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="news-box border-[1px] max-h-[339px] lg:max-h-[367px]">
                    <div class="box-photo-news min-h-[139px] bg-white overflow-hidden">
                        <img src="../assets/img/ph-news.jpg" alt="#" class="object-cover max-h-[139px] w-full">
                    </div>
                    <div class="descrip-box-news bg-white text-[var(--primary-color)] lg:min-h-[228px] xl:max-h-[228px]">
                        <div class="descrip-wrapper p-5 lg:max-h-[228px]">
                            <div class="grid grid-cols-[1fr] mb-3 p-[-20px] relative">
                                <span class="meta-category bg-[var(--primary-color)] absolute text-white text-[12px] left-[-20px] py-[3px] px-[7px] font-[500]">Наука</span>
                                <div class="text-end">
                                    <span class="text-[12px] font-[500]">
                                        <i class="bi bi-calendar2-week"></i>
                                        Июл 12, 2024
                                    </span>
                                </div>
                            </div>
                            <div class="mb-6">
                                <h3 class="text-lg font-[700] line-clamp-3 max-h-[84px]">
                                    Спортсмены МелГУ устанавливают новые рекорды
                                </h3>
                            </div>
                            <div class="description-news line-clamp-3 max-h-[72px]">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, dolores ea esse et iusto possimus quibusdam voluptatem. Ea id necessitatibus quos recusandae veritatis. Aliquam cum deserunt iusto laborum provident quis!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="news-box border-[1px] max-h-[339px] lg:max-h-[367px]">
                    <div class="box-photo-news min-h-[139px] bg-white overflow-hidden">
                        <img src="../assets/img/ph-news.jpg" alt="#" class="object-cover max-h-[139px] w-full">
                    </div>
                    <div class="descrip-box-news bg-white text-[var(--primary-color)] lg:min-h-[228px] xl:max-h-[228px]">
                        <div class="descrip-wrapper p-5 lg:max-h-[228px]">
                            <div class="grid grid-cols-[1fr] mb-3 p-[-20px] relative">
                                <span class="meta-category bg-[var(--primary-color)] absolute text-white text-[12px] left-[-20px] py-[3px] px-[7px] font-[500]">Наука</span>
                                <div class="text-end">
                                    <span class="text-[12px] font-[500]">
                                        <i class="bi bi-calendar2-week"></i>
                                        Июл 12, 2024
                                    </span>
                                </div>
                            </div>
                            <div class="mb-6">
                                <h3 class="text-lg font-[700] line-clamp-3 max-h-[84px]">
                                    Спортсмены МелГУ устанавливают новые рекорды
                                </h3>
                            </div>
                            <div class="description-news line-clamp-3 max-h-[72px]">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, dolores ea esse et iusto possimus quibusdam voluptatem. Ea id necessitatibus quos recusandae veritatis. Aliquam cum deserunt iusto laborum provident quis!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="news-box border-[1px] max-h-[339px] lg:max-h-[367px]">
                    <div class="box-photo-news min-h-[139px] bg-white overflow-hidden">
                        <img src="../assets/img/ph-news.jpg" alt="#" class="object-cover max-h-[139px] w-full">
                    </div>
                    <div class="descrip-box-news bg-white text-[var(--primary-color)] lg:min-h-[228px] xl:max-h-[228px]">
                        <div class="descrip-wrapper p-5 lg:max-h-[228px]">
                            <div class="grid grid-cols-[1fr] mb-3 p-[-20px] relative">
                                <span class="meta-category bg-[var(--primary-color)] absolute text-white text-[12px] left-[-20px] py-[3px] px-[7px] font-[500]">Наука</span>
                                <div class="text-end">
                                    <span class="text-[12px] font-[500]">
                                        <i class="bi bi-calendar2-week"></i>
                                        Июл 12, 2024
                                    </span>
                                </div>
                            </div>
                            <div class="mb-6">
                                <h3 class="text-lg font-[700] line-clamp-3 max-h-[84px]">
                                    Спортсмены МелГУ устанавливают новые рекорды
                                </h3>
                            </div>
                            <div class="description-news line-clamp-3 max-h-[72px]">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, dolores ea esse et iusto possimus quibusdam voluptatem. Ea id necessitatibus quos recusandae veritatis. Aliquam cum deserunt iusto laborum provident quis!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination mt-4">
                <div class="flex justify-center">
                    <div class="prev">
                        <a href="#" class="bg-[var(--primary-color)] text-white text-xl py-3 px-4 block border-[1px] border-[var(--primary-color)] transition duration-300 ease-linear
                         hover:opacity-[0.8]"><i class="bi bi-caret-left"></i></a>
                    </div>
                    <div>
                        <a href="#" class="bg-[var(--primary-color)] text-white text-xl py-3 px-4 block border-[1px] border-[var(--primary-color)] transition duration-300 ease-linear
                         hover:opacity-[0.8] min-w-[54px] text-center current">1</a>
                    </div>
                    <div class="next">
                        <a href="#" class="bg-[var(--primary-color)] text-white text-xl py-3 px-4 block border-[1px] border-[var(--primary-color)] transition duration-300 ease-linear
                         hover:opacity-[0.8] min-w-[54px]"><i class="bi bi-caret-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="header-footer">
            <div class="upper-footer-box">
                <div class="box-logo">
                    <a href="#">
                        <img src="../assets/img/white-logo.png" alt="Логотип университета">
                    </a>
                </div>
                <div class="footer-menu-box">
                    <nav>
                        <a href="#">Новости</a
                        ><a href="#">Полезная информация</a>
                        <a href="#">Сведения об образовательной организации</a>
                        <a href="#">Карта кампуса</a>
                        <a href="#">Карта сайта</a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="middle-footer container custom lg:p-2.5 grid grid-cols-1 lg:grid-cols-[25%,25%,25%,25%] gap-5 p-6">
            <div class="footer-box">
                <h4>Приемная комиссия</h4>
                <ul>
                    <li>
                        г. Мелитополь, пр. Богдана Хмельницкого 18, аудитория: 1.116
                    </li>
                    <li>
                        +7(990) 021 57 16
                    </li>
                    <li>
                        priyomnaya_komissiya@mgu-mlt.ru
                    </li>
                    <li>
                        <a href="">Страница комиссии →</a>
                    </li>
                </ul>
            </div>
            <div class="footer-box">
                <h4>Полезные ссылки</h4>
                <span>Пресс-служба</span>
                <ul>
                    <li>
                        +7(990) 142 78 65
                    </li>
                </ul>
            </div>
            <div class="footer-box">
                <h4>Ректорат</h4>
                <ul>
                    <li>
                        г. Мелитополь, пр. Богдана Хмельницкого 18, аудитория: 1.101
                    </li>
                    <li>
                        +7(990) 146 9279
                    </li>
                    <li>
                        rektorat@mgu-mlt.ru
                    </li>
                </ul>
            </div>
        </div>
        <div class="under-footer lg:p-2.5">
            <div class="under-footer-wrapper container custom p-0 flex flex-col items-center lg:flex-row lg:justify-between">
                <div class="copyright-box col-12 col-lg-6">
                    <p>
                        Copyright © 2022 - 2024 • ФГБОУ ВО "МелГУ" При перепечатке текстовой информации и фотографий ссылка на сайт обязательна
                    </p>
                </div>
                <div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-end">
                    <div class="social-footer-box">
                        <a href="#" class="social-link">
                            <i class="fa fa-vk" aria-hidden="true"></i>
                            VKONTAKTE
                        </a>
                        <a href="#" class="social-link">
                            <i class="bi bi-telegram"></i>
                            TELEGRAM
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="side_offset">
        <ul class="box-side-social-link">
            <li>
                <a href="#" class="social-link">
                    <i class="fa fa-vk" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="#" class="social-link">
                    <i class="bi bi-telegram"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<script src="../assets/js/slider.js"></script>
<script src="../assets/js/menu.js"></script>
<script src="../assets/js/news-section-main-page.js"></script>
<script src="../assets/js/counter-script.js"></script>
<script src="../assets/js/filter-card.js"></script>
<script src="../assets/js/jquery-data-picker.js"></script>
<script src="../assets/js/select-component.js"></script>
</body>
</html>