@import "root-style.css";
@import "font-import.css";
*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
body{
    background-color: var(--primary-background-color);
}
.main-wrapper{
    padding-left: 7%;
}
/*Header style*/
.upper-menu{
    padding-right: 3.3%;
    *{
        color: #5e5058;
        font-size: 14px;
        font-family: "Jost", sans-serif;
    }
    h2{
        padding: 14px;
        margin: 0;
    }
    .nav a{
        padding: 14px;
        font-weight: 500;
        transition: var(--transition-link);

        &:hover{
            color: #9B9398;
        }
    }
}
/*END Header style*/