@import "root-style.css";
@import "font-import.css";
*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
body{
    background-color: var(--primary-background-color);
}
.main-wrapper{
    padding-left: 7%;
}
/*Header style*/
.upper-menu{
    padding-right: 3.3%;
    *{
        color: #5e5058;
        font-size: 14px;
        font-family: "Jost", sans-serif;
    }
    .box-header-address {
        padding-left: 8%;
    }
    h2{
        padding: 14px;
        margin: 0;
    }
    .nav a{
        padding: 14px;
        font-weight: 500;
        transition: var(--transition-link);

        &:hover{
            color: #9B9398;
        }
    }
}
.main-menu{
    background-color: white;
    *{
        font-size: 15px;
        font-family: "Jost", sans-serif;
        font-weight: 500;
    }
    .box-main-menu{
        max-height: 110px;
    }
    .box-logo{
        background-color: #820000;
        max-width: 110px;
        max-height: 110px;
        width: 110px;
        a img{
            width: 100%;
            height: 100%;
        }
    }
    ul li{
        min-height: 110px;
        padding: 35px 20px;
    }
    .search-form{
        padding: 35px 0;
    }
}
@media screen and (max-width: 1024px){
    .upper-menu{
        display: none !important;
    }
    .main-menu {
        align-items: center;
        .container-fluid {
            justify-content: flex-end;
        }
        ul li{
            min-height: 0px;
            padding: 0px 0px;
        }
        .box-main-menu{
            max-height: 100%;
        }
        .box-logo{
            max-width: 40px;
            max-height: 40px;
            width: 100%;

        }
        #navbarTogglerDemo2 {
            width: 93vw;
            background-color: white;
            position: absolute;
            left: -40px;
            padding: 0 10px 0px 10px;
            top: 48.5px;
        }
    }
}
/*END Header style*/