@import "root-style.css";
@import "font-import.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
a{
    text-decoration: none;
}
body{
    background-color: var(--primary-background-color);
}
.no-scroll{
    overflow: hidden;
}
.opacit{
    opacity: 0.3;
}
/*main wrapper style*/
.main-wrapper{
    padding-left: 7%;
}
.main-section{
    min-height: calc(100vh - 530px);
}
@media screen and (max-width: 767px) {
    .main-wrapper{
        padding-left: 0;
    }
}  /*END main wrapper style*/

/*Header style*/
.hidde{
    display: none !important;
}
.upper-menu{
    display: flex;
    justify-content: space-between;
    padding-right: 3.3%;
    *{
        color: #5e5058;
        font-size: 14px;
        font-family: "Jost", sans-serif;
    }
    .box-header-address {
        padding-left: 6%;
        .header-address{
            display: flex;
        }
    }
    h2{
        padding: 14px;
        margin: 0;
    }
    .nav a{
        padding: 14px;
        font-weight: 500;
        transition: var(--transition-link);

        &:hover{
            color: #9B9398;
        }
    }
}
.main-menu{
    display: flex;
    background-color: white;
    *{
        font-size: 15px;
        font-family: "Jost", sans-serif;
        font-weight: 500;
    }
    .box-main-menu{
        width: 100%;
        max-height: 110px;
    }
    .box-logo{
        background-color: var(--primary-color);
        max-width: 110px;
        max-height: 110px;
        width: 110px;
        a img{
            width: 110px;
            height: 110px;
        }
    }
    ul li{
        min-height: 110px;
        padding: 35px 20px;
    }
    .navbar-toggler{
        display: none;
    }
    .navbar-collapse{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .navbar-nav{
            display: flex;
        }
    }
    .nav-link{
        padding-left: 0 !important;
        padding-right: 0 !important;
        color: var(--primary-color);
        transition: var(--transition-link);

        &:hover{
            color: var(--secondary-color);
        }
    }
    .search-and-btn-box{
        display: flex;
        justify-content: space-between;
        margin-right: 3.3%;
        align-items: center;
        column-gap: 20px;
    }
    .search-form{
        display: flex;
    }
    form input{
        border: 1px solid lightgray;
        padding: 12px;

        &:focus{
            box-shadow: none;
            border-color: #DEE2E6;
        }
    }
    form button{
        color: white;
        display: flex;
        align-items: center;
        padding: 12px;
        background-color: var(--primary-color);

        &:hover{
            background-color: #c10f1a;
        }
    }
    .personal-account-box{
        .personal-account-btn{
            display: flex;
            align-items: center;
            background-color: var(--primary-color);
            color: white;
            border: 1px solid var(--primary-color);
            padding: 12px;
            transition: var(--transition-link);

            &:hover{
                background-color: white;
                fill: white;
                color: var(--primary-color);
            }
            svg{
                margin-right: 5px;
            }
        }
    }
    .new-menu{
        padding: 24px;
        background-color: white;
        position: absolute;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        top: 159px;
        left: 7%;
        z-index: 80;
        max-width: 93% !important;
        width: 100%;
        .box-back-btn{
            display: none;
        }
        .box-dropdown-btns{
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            margin-bottom: 15px;
            & a{
                text-decoration: none;
                color: var(--primary-color);
                font-size: 20px;
                font-weight: 700;
                &{
                    cursor: pointer;
                    transition: var(--transition-link);
                }
                &:hover{
                    color: var(--secondary-color);
                }

                & i:before{
                    font-weight: 900 !important;
                    font-size: 20px;
                }
            }
        }
        .wrapper-dropdown-menu{
            display: flex;
            width: 100%;
            .box-dropdown-menu{
                width: 24%;
                .nav{
                    display: flex;
                    flex-direction: column;
                    a{
                        padding: 8px 0;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1430px){
    .main-menu {
        .nav-item {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}
@media screen and (max-width: 1300px){
    .main-menu {

        .search-form input {
            width: 120px;
        }
    }
}
@media screen and (max-width: 1210px){
    .main-menu {

        .nav-link {
            font-size: 13px;
        }
        ul {
            margin-bottom: 0 !important;
        }
    }
}
@media screen and (max-width: 1130px){
    .main-menu {

        .personal-account-box{
            button {
                height: 48.5px;
                span{
                    display: none;
                }
            }
        }
    }
}
@media screen and (max-width: 1024px){
    .upper-menu{
        display: none !important;
    }
    .main-menu {
        padding-left: 12px;
        height: 64px;
        align-items: center;
        .nav-link{
            font-size: 15px;
        }
        .container-fluid {
            justify-content: flex-end;
        }
        ul li{
            min-height: 0px;
            padding: 0px 0px;
        }
        .box-main-menu{
            max-height: 100%;
        }
        .box-logo{
            max-width: 40px;
            max-height: 40px;
            width: 100%;
            a img{
                width: 40px;
                height: 40px;
            }
        }
        .navbar{
            overflow: hidden;
        }
        .navbar-collapse{
            z-index: 1;
            overflow: hidden;
            height: 0;
            transition: all .3s cubic-bezier(.645,.045,.355,1);
            background-color: white;
            width: 93vw;
            position: absolute;
            top: 64px;
            left: 7%;
            flex-direction: column;
            .navbar-nav{
                width: 100%;
                flex-direction: column;

                li {
                    padding: 8px 10px;
                    a {
                        width: 100%;
                    }
                }
            }
        }
        .navbar-collapse.opened{
            height: 30%;
        }
        .navbar-toggler{
            display: block;
            position: absolute;
            right: 10px;
            top: 10px;
            background: var(--primary-color);
            .box-hamburg i:before{
                color: white;
                font-size: 38px;
            }
            :focus{
                box-shadow: none;
            }
        }
        .navbar-toggler:focus{
            box-shadow: none;
        }
        #navbarTogglerDemo2 {
            width: 93vw;
            z-index: 80;
            background-color: white;
            position: absolute;
            left: -52px;
            padding: 0 10px 0px 10px;
            top: 58px;
        }
        .search-form{
            width: 100%;
            padding: 10px 10px 40px 10px;
            input{
                width: 100%;
            }
        }
        .personal-account-box{
            .personal-account-btn{
                padding: 8px 10px;
                background: none;
                color: var(--primary-color);
                border: none;
                display: flex;
                align-items: center;
                flex-direction: row-reverse;
                column-gap: 5px;
                span{
                    display: inline-block;
                }
            }

        }
        .search-and-btn-box{
            width: 100%;
            margin-right: 0;
            flex-direction: column-reverse;
            align-items: start;
        }
    }
    .new-menu.mob-menu{
        .box-back-btn{
            display: block;
        }
        position: fixed;
        height: 100vh;
        min-width: 100%;
        z-index: 9998;
        top: 70px;
        transform: translateX(100%);
        transition: transform .3s cubic-bezier(.645,.045,.355,1);
    }
    .new-menu.mob-menu.opened{
        overflow-y: auto;
        position: absolute;
        transform: translateX(0%);
    }
    .new-menu{
        .wrapper-dropdown-menu{
            flex-direction: column;
            .box-dropdown-menu{
                width: 95%;
                nav{
                    a{
                        width: 95%;
                        padding: 8px 0;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 767px){
    .main-menu {
        .navbar-collapse {
            background-color: white;
            width: 100vw;
            position: absolute;
            top: 64px;
            left: 0;
        }
        #navbarTogglerDemo2 {
            width: 100vw;
        }
    }
    .new-menu.mob-menu.opened{
        transform: translateX(-7%);
    }
}
/*END Header style*/