@import "root-style.css";
@import "font-import.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
a{
    text-decoration: none;
}
body{
    background-color: var(--primary-background-color);
}
.main-wrapper{
    padding-left: 7%;
}
/*Header style*/
.hidden{
    display: none !important;
}
.upper-menu{
    padding-right: 3.3%;
    *{
        color: #5e5058;
        font-size: 14px;
        font-family: "Jost", sans-serif;
    }
    .box-header-address {
        padding-left: 6%;
    }
    h2{
        padding: 14px;
        margin: 0;
    }
    .nav a{
        padding: 14px;
        font-weight: 500;
        transition: var(--transition-link);

        &:hover{
            color: #9B9398;
        }
    }
}
.main-menu{
    background-color: white;
    *{
        font-size: 15px;
        font-family: "Jost", sans-serif;
        font-weight: 500;
    }
    .box-main-menu{
        max-height: 110px;
    }
    .box-logo{
        background-color: #820000;
        max-width: 110px;
        max-height: 110px;
        width: 110px;
        a img{
            width: 110px;
            height: 110px;
        }
    }
    ul li{
        min-height: 110px;
        padding: 35px 20px;
    }
    .nav-link{
        padding-left: 0 !important;
        padding-right: 0 !important;
        color: var(--primary-color);
        transition: var(--transition-link);

        &:hover{
            color: var(--secondary-color);
        }
    }
    .search-and-btn-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 20px;
    }
    .search-form{
        padding: 35px 0;
    }
    form input{
        height: 48.5px;

        &:focus{
            box-shadow: none;
            border-color: #DEE2E6;
        }
    }
    form button{
        color: white;
        background-color: var(--primary-color);

        &:hover{
            background-color: #c10f1a;
        }
    }
    .personal-account-box{
        .personal-account-btn{
            background-color: #820000;
            color: white;
            border: 1px solid #820000;
            padding: 12px;
            transition: var(--transition-link);

            &:hover{
                background-color: white;
                fill: white;
                color: #820000;
            }
        }
    }
    .new-menu{
        padding: 24px;
        background-color: white;
        position: absolute;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        top: 159px;
        z-index: 80;
        max-width: 88.7% !important;
        width: 100%;
        .box-dropdown-btns{
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            margin-bottom: 15px;
            & a{
                text-decoration: none;
                color: var(--primary-color);
                font-size: 20px;
                font-weight: 700;
                &{
                    cursor: pointer;
                    transition: var(--transition-link);
                }
                &:hover{
                    color: var(--secondary-color);
                }

                & i:before{
                    font-weight: 900 !important;
                    font-size: 20px;
                }
            }
        }
        .wrapper-dropdown-menu{
            display: flex;
            width: 100%;
            .box-dropdown-menu{
                width: 24%;
                .nav{
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}
@media screen and (max-width: 1430px){
    .main-menu {
        .nav-item {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}
@media screen and (max-width: 1300px){
    .main-menu {

        .search-form input {
            width: 120px;
        }
    }
}
@media screen and (max-width: 1210px){
    .main-menu {

        .nav-link {
            font-size: 13px;
        }
        ul {
            margin-bottom: 0 !important;
        }
    }
}
@media screen and (max-width: 1130px){
    .main-menu {

        .personal-account-box{
            button span{
                display: none;
            }
        }
    }
}
@media screen and (max-width: 991px){
    .upper-menu{
        display: none !important;
    }
    .main-menu {
        padding-left: 12px;
        height: 64px;
        align-items: center;
        .nav-link{
            font-size: 15px;
        }
        .container-fluid {
            justify-content: flex-end;
        }
        ul li{
            min-height: 0px;
            padding: 0px 0px;
        }
        .box-main-menu{
            max-height: 100%;
        }
        .box-logo{
            max-width: 40px;
            max-height: 40px;
            width: 100%;
            a img{
                width: 40px;
                height: 40px;
            }
        }
        .navbar-toggler{
            background: var(--primary-color);
            .box-hamburg i:before{
                color: white;
                font-size: 32px;
            }
            :focus{
                box-shadow: none;
            }
        }
        .navbar-toggler:focus{
            box-shadow: none;
        }
        #navbarTogglerDemo2 {
            width: 93vw;
            z-index: 80;
            background-color: white;
            position: absolute;
            left: -52px;
            padding: 0 10px 0px 10px;
            top: 58px;
        }
        .search-form{
            width: 100%;
            padding: 10px 10px 40px 10px;
            input{
                width: 100%;
            }
        }
        .personal-account-box{
            .personal-account-btn{
                padding: 8px 10px;
                background: none;
                color: var(--primary-color);
                border: none;
                display: flex;
                align-items: center;
                flex-direction: row-reverse;
                column-gap: 5px;
                span{
                    display: inline-block;
                }
            }

        }
        .search-and-btn-box{
            flex-direction: column-reverse;
            align-items: start;
        }
    }
}
/*END Header style*/

/* Slider style*/
.slider-section{
    height: auto;
    position: relative;
    max-height: 850px;
}
.box-slider {
    height: auto;
    max-height: 850px;
    position: relative;
    .slider {
        margin: 0 auto;
        height: auto;
        max-height: 850px;

        .slide_viewer {
            height: 850px;
            overflow: hidden;
            position: relative;
        }

        .slide_group {
            height: 100%;
            position: relative;
            width: 100%;
        }

        .slide {
            display: none;
            max-height: 955px !important;
            height: auto;
            max-height: 850px;
            position: absolute;
            width: 100%;

            .slide-link img{
                object-fit: cover;
                width: 100%;
                max-height: 955px;
                height: 100%;
            }
        }

        .slide:first-child {
            display: block;
        }

        .slide:nth-of-type(1) {
            background: #D7A151;
        }

        .slide:nth-of-type(2) {
            background: #F4E4CD;
        }

        .slide:nth-of-type(3) {
            background: #C75534;
        }

        .slide:nth-of-type(4) {
            background: #D1D1D4;
        }
    }

    .slide_buttons {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 100px;
        right: 100px;
        text-align: center;


        a.slide_btn {
            color: #6E6B6B;
            font-size: 25px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
            margin: 0 0.175em;
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -ms-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
        }
        .slide_btn:before {
            content: '';
            position: absolute;
            right: 20px;
            background: #fff;
            height: 1px;
            width: 0%;
            margin-top: 17px;

            transition: all .3s ease;
            border-radius: 3px;
            opacity: 0;

        }
        .slide_btn.active:before{
            width: 100%;
            opacity: 1;
        }
        .slide_btn.active, .slide_btn:hover {
            color: white;
            cursor: pointer;
        }
    }

    .directional_nav {
        max-height: 850px;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        position: absolute;
        top: 0;


        .previous_btn {
            bottom: 0;
            left: 10px;
            margin: auto;
            position: absolute;
            top: 0;
        }

        .next_btn {
            bottom: 0;
            margin: auto;
            position: absolute;
            right: 10px;
            top: 0;
        }

        .previous_btn, .next_btn {
            cursor: pointer;
            height: 65px;
            opacity: 0.5;
            -webkit-transition: opacity 0.4s ease-in-out;
            -moz-transition: opacity 0.4s ease-in-out;
            -ms-transition: opacity 0.4s ease-in-out;
            -o-transition: opacity 0.4s ease-in-out;
            transition: opacity 0.4s ease-in-out;
            width: 65px;

            i:before{
                font-size: 50px;
                color: white;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
            }
        }

        .previous_btn:hover, .next_btn:hover {
            opacity: 1;
        }
    }
}
@media screen and (max-width: 1920px) {
    .slider-section{
        & .sldr{
            max-height: 600px;
        }

    }
}
@media screen and (max-width: 1680px) {
    .slider-section{
        & .sldr{
            max-height: 580px;
        }
        .box-info-under-slider{
            .under-info{
                width: 45% !important;
                .text-under-info{
                    font-size: 16px !important;
                }
            }
        }
    }
}
@media screen and (max-width: 1536px) {
    .slider-section{
        & .sldr{
            max-height: 530px;
        }

    }
}
@media screen and (max-width: 1440px) {
    .slider-section{
        & .sldr{
            max-height: 500px;
        }
        .box-info-under-slider{
            .under-info{

                .text-under-info{
                    font-size: 16px !important;
                }
            }
        }
    }
}
@media screen and (max-width: 1366px) {
    .slider-section{
        & .sldr{
            max-height: 474px;
        }
    }
}
@media screen and (max-width: 1280px) {
    .slider-section{
        & .sldr{
            max-height: 444px;
        }
        .info-under-slider{
            bottom: -50px;
        }
    }
}
@media screen and (max-width: 1024px) {
    .slider-section{
        & .sldr{
            max-height: 355px;
        }
        .slide_buttons{
            bottom: 10px;
            a.slide_btn{
                font-size: 20px;
            }
        }
        .info-under-slider{
            bottom: -119px;
            width: 100%;
            .box-info-under-slider{
                .under-info{
                    width: 50% !important;
                    .text-under-info{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 991px) {
    .slider-section{
        & .sldr{
            max-height: 345px;
        }
        .slide_buttons{
            top: 0;
            right: 20px;
            flex-direction: row;
            a.slide_btn{
                margin-left: 10px;
                font-size: 20px;
            }
            .slide_btn:before {
                content: '';
                position: absolute;
                right: auto;
                background: #fff;
                height: 1px;
                width: 0%;
                margin-top: 25px;

                transition: all .3s ease;
                border-radius: 3px;
                opacity: 0;

            }
            .slide_btn.active:before{
                width: 20%;
                opacity: 1;
            }
        }
        .info-under-slider{
            bottom: -239px;
            width: 100%;
            .box-info-under-slider{
                flex-direction: column;
                .under-info{
                    height: 92px;
                    width: 100% !important;
                    .text-under-info{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .slider-section{
        & .sldr{
            max-height: 266px;
        }
        .directional_nav {
            .previous_btn, .next_btn {
                display: flex !important;
                flex-direction: column;
                justify-content: center;
                i:before {
                    font-size: 30px;
                }
            }
            .next_btn{
                text-align: end !important;
            }
        }
    }
}
@media screen and (max-width: 425px) {
    .slider-section{
        & .sldr{
            max-height: 147px;
        }
        .directional_nav {
            .previous_btn, .next_btn {

                i:before {
                    font-size: 20px;
                }
            }
        }
        .info-under-slider{
            bottom: -240px;
            .box-info-under-slider{
                flex-direction: column;
                .under-info{
                    padding: 15px;
                    .text-under-info{
                        font-size: 14px;
                    }
                    .icon-box svg{
                        width: 20px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 375px) {
    .slider-section {
        & .sldr {
            max-height: 130px;
        }
        .slide_buttons {
            a.slide_btn {
                font-size: 16px !important;
            }
        }
        .info-under-slider{
            bottom: -239px;
            .box-info-under-slider{
                flex-direction: column;
                .under-info{
                    padding: 15px;
                    .text-under-info{
                        font-size: 14px;
                    }
                    .icon-box svg{
                        width: 20px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 320px) {
    .slider-section{
        & .sldr{
            max-height: 111px;
        }

    }
}
/*END Slider style*/

/*Info under slider style*/
.info-under-slider{
    z-index: 2;
    width: 100%;
    position: absolute;
    bottom: -65px;
    .box-info-under-slider{
        display: flex;
        .under-info{
            width: 35%;
            min-height: 120px;
            align-content: center;
            background-color: var(--primary-color);
            padding: 30px;
            .icon-box{
                margin-right: 10px;
                width: 28px;
                svg{
                    fill: white;
                    width: 28px;
                }
            }
            .text-under-info{
                font-size: 19px;
                color: white;
            }
        }
    }
}
/*END Info under slider style*/

/*melsu-today style*/
.heading-title-h2{
    font-weight: 700;
    font-size: 39px;
}
.melsu-today-section{
    position: relative;
    background-image: url("../../assets/img/lines-vector-map.jpg");
    background-size: 100%;
    padding-top: 120px;
    .overlay-section{
        height: 100%;
        background-color: transparent;
        background-image: linear-gradient(310deg, #FFFFFFEB 0%, #F6F6F6 100%);
        opacity: 0.99;
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    }
}
/*ENDmelsu-today style*/

/*Side Offset style*/
.side_offset{
    position: fixed;
    width: 7%;
    z-index: 9999;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.04);
    .box-side-social-link{
        list-style: none;
        position: absolute;
        top: 37px;
        left: calc(50% - 45px);
        width: 36px;
        li{
            margin-bottom: 20px;
        }
        .social-link{
            border-radius: 50%;
            border: 1px solid #E8E8E8;
            padding: 7px 8px;
            text-align: center;

            i:before{
                color: #584252;
            }
        }
    }
}
/*END Side Offset style*/
